[2020-03-03 01:57] Dingzhenpiyi opened #4030 "获取令牌失败"
在获取令牌时出现：
Failed to configure token: unexpected end of JSON input
请问该怎样解决，谢谢！

[2020-03-03 06:53] Yexiaoxing commented on #4030
Please use the [issue template](https://github.com/rclone/rclone/tree/master/.github/ISSUE_TEMPLATE) and rewrite your question.

[2020-03-03 08:13] irkcow opened #4031 "rclone Keeps Failing to Copy File with "corrupted on transfer" (local->crypt->mount)"
#### What is the problem you are having with rclone?
Than I crypt local folder and mount it on windows 10, i get this massage:
[log.txt](https://github.com/rclone/rclone/files/4279999/log.txt)

"ERROR : IO error: failed to transfer file from cache to remote: corrupted on transfer: MD5 crypted hash differ "cd60ea4dd2e9e81e702bc637df404751" vs "35f640a1fd3ae61ad81581496f86a60b"

#### What is your rc

[2020-03-03 08:23] ferferga commented on #4013
@ncw Sorry for taking so long to answer. I've lost some of the files after doing ``rclone dedupe`` (because they were in "My Computer" zone added to "My Drive", so files deleted in one place are also deleted in the other). It was my fault for no having a backup for all of them and also because the remote was not read only, but it would be great if, by default, you make ``dedupe`` not delete duplic

[2020-03-03 09:02] valery1707 commented on #4027
Yes, I want, but I don't sure about the mechanism for such validation.

Is it correct to add commands into the goal `MANUAL.md` inside `Makefile`, or is it better to modify `make_manual.py` itself?

[2020-03-03 10:07] ncw commented on #4025
That is because the "Camera Uploads" object has reported itself as being a "camera-upload" instead of being a "file" or a "folder".

Maybe we could treat it as a "folder" I don't know - what do you think @ivandeex ?

[2020-03-03 10:10] ncw commented on #4021
Are the transfers actually stalled or is it just the stats being wrong - can you tell by looking at your outgoing bandwidth?

@ivandeex any thoughts on this?

[2020-03-03 10:38] ncw opened #4032 "Drop the vendor directory"
Now that rclone only supports go1.14, go1.13, go1.12 and go1.11 we can drop the vendor directory from rclone and rely solely on go modules (that is assuming go1.11 modules work well enough which I haven't tested yet.)

Cons of the vendor directory

- bulks the repo
- makes it harder for contributors making a separate vendor patch
- makes merges more painful
- go1.13 ignores the vendor directory so

[2020-03-03 10:44] klauspost commented on #4032
Seems reasonable to ditch it.

[2020-03-03 10:44] ncw commented on #2449
@ecthiender checkout https://rclone.org/commands/rclone_config_create/ for creating backends programatically or use the `:backend:` syntax as described here: https://rclone.org/docs/#syntax-of-remote-paths

I don't think the `--make-remote` flag ever got merged.

[2020-03-03 11:09] ecthiender commented on #2449
Thanks for replying! The `:backend:` will do the job for me.

A minor concern, I have a script which uses rclone and recently it stopped working. And hence the comment above. Strange that you mention `--make-remote` never got merged, because my script uses `--make-remote` (and now it fails with no such flag error). FWIW, the script is 1-1.5 years old and use to work fine and used rclone from Arch

[2020-03-03 11:10] ruphy commented on #4014
@ncw I took the liberty of modifying the title and the description, let me know if it's better now!

I also just tried to reproduce this error with the local filesystem:
[code]
but in this case I get a working interface, and I receive simply the report of a debug message once I quit `rclone`:
```2020/03/03 12:04:35 Failed to ncdu: failed to open directory "a": open /home/ruphy/LocalOnly/tt/dir1/a:

[2020-03-03 11:13] ncw commented on #3984
:-( The problem is that the server and rclone have a different idea as to how many connections are open - everything else seems to work properly! That different idea might be only for a few milliseconds but it seems enough for the server to return those errors.

However the server returns a 421 error which rclone could treat as a retriable error...

Here is a binary which will retry 421 errors up

[2020-03-03 11:24] darthShadow commented on #4032
My personal opinion would be to drop it, but, considering that only go1.14 has announced modules as production-ready, it may be necessary to keep it at least till the time we support go1.11, if not go1.12 too.

[2020-03-03 11:28] ncw commented on #2449
I grepped the git log and the changelog - I don't think I ever merged or even implemented that flag which is odd! The commits attached to this issue all talk about the `:backend:` syntax which is a much better idea IMHO.

[2020-03-03 12:09] ncw commented on #4014
I think what is required is to fix this FIXME

https://github.com/rclone/rclone/blob/4d8d1e287ba394d486bd1f7616ddb26fa4b79c89/cmd/ncdu/scan/scan.go#L172

Or maybe do something different here

https://github.com/rclone/rclone/blob/4d8d1e287ba394d486bd1f7616ddb26fa4b79c89/cmd/ncdu/ncdu.go#L690-L693

Fancy having a go at this @ruphy ?

I note that there is a special workaround in the local backend wh

[2020-03-03 12:30] ncw commented on #4013
I'm sorry to hear that.

Are these files effectively hard links then? In the same directory? How did that happen?

Maybe I should test if the files have the same ID before and don't delete them if they do.

Or alternatively I should be unlinking them from the directory instead: See #3998 for similar issue.

At the moment it prompts for most things but it doesn't prompt for identical files (with th

[2020-03-03 12:31] ncw commented on #4027
Either would be fine I think. If you feel more comfortable editing `make_manual.py`  then you can put the check there.

[2020-03-03 12:36] ncw commented on #4031
Which editor are you using to make the text file?

Have you tried a different one?

Can you attach a log with `-vv` of the problem please?

I suspect that somehow the file is still open when we try to transfer it but the debug log should show the problem.

[2020-03-03 12:39] ncw commented on #4028
OK

If you are happy then I will.

I'll update the docs in a bit with the actual behaviour.

Note that if you add the container in the path then it will work with old **and** new rclones so what we are doing is removing the "azure:" shortcut on a SAS URL meaning "azure:container".

[2020-03-03 13:04] irkcow commented on #4031
I attached the log file in first message, editor is notepad. But editor is
not important thing. Then I copy the file to mounted disk, the situation is
the same

вт, 3 мар. 2020 г., 20:36 Nick Craig-Wood <notifications@github.com>:

[2020-03-03 13:21] cafarm commented on #4028
Sounds great. Thanks!

That's exactly what I'll do.

[2020-03-03 13:36] JonNelson opened #4033 "cancel multi-part uploads so bucket may be deleted"
#### Output of `rclone version`

rclone v1.47.0
- os/arch: linux/amd64
- go version: go1.11.9

#### Describe the issue

Playing with Oracle Cloud Infrastructure's block storage and rclone, I found that it worked very nicely (and very fast), right up to the point where I deleted the contents of my test bucket and tried to remove the bucket itself. This failed and OCI claimed that there were multi-p

[2020-03-03 14:08] ibiruai commented on #4026
I do! Does [this commit](https://github.com/ibiruai/rclone/commit/d9af33883c7f6a88ce7aa8db7d535e6d929f2322) look right? Should I pull request it?
I'm not sure if the 32 symbols limitation is right for all OSes, and if this change needs to be done in `cmd/mountlib/mount.go` or in `cmd/mount/mount.go`.

[2020-03-03 14:35] calisro opened #4034 "Make filter flags (eg `--files-from`) understand `-` as a file name to mean pipe from stdin"
As discussed in the below thread, it would be convenient from a scripting perspective to allow any flag that contains a list of files to process to pass that list in via standard in with a dash as a parameter instead of creating intermediate files.  These specifically right now.

      --exclude-from stringArray             Read exclude patterns from file
      --files-from stringArray

[2020-03-03 14:38] hakong opened #4035 "Slow download from Google Cloud Storage with v1.51. Works with v.1.47."
#### What is the problem you are having with rclone?
Slow download speeds from Google Cloud Storage with the latest version.
Screenshot of past 30 days:
![image](https://user-images.githubusercontent.com/4422113/75781740-af20ff00-5d55-11ea-9318-898c092caae9.png)
Screenshot of last 3 hours testing between v1.51 and v1.47 with different --bwlimit parameters:
![image](https://user-images.githubuserco

[2020-03-03 15:10] ncw commented on #4035
A 1 PB bucket with 1M files means an average file size of ~1GB - is that about right?

I wonder whether the multithread download (which will be active for files this big) is counterproductive here... Can you try `--multi-thread-streams 0` to see if that makes a difference?

It would be useful if you could try some intermediate rclone values to see which release caused the problem if it isn't `--mu

[2020-03-03 15:12] ncw commented on #4033
You should find that 1.51 (the current release) doesn't leave uncancelled multipart uploads lying around. 1.47 is quite an old release...

[2020-03-03 15:45] waspoza commented on #3984
This version acts pretty nondeterministic. Sometimes it fires 3 conn error stright away and sometimes it takes longer, but eventually 3 conn errors always appear and download hangs.

Here's the log when it took quite long: https://gist.github.com/waspoza/ff0834be69ecdb558ff2b63e20d0b1d6

[2020-03-03 15:51] ferferga commented on #4013
@ncw The files I lost were all added to "My Drive" from "My Computers", with "My Computer" holding the files backed up by Backup & Sync.

Probably the ID thing should solve this. Cool to see then that this might have a positive effect in rclone and it won't be for nothing :)

[2020-03-03 16:15] ncw commented on #4026
Very good :-)

You don't need the `0` in `[0:32]`

Yes please!

I don't know whether this is a problem on non-Windows platforms... Maybe add a `runtime.GOOS == "windows" &&` in the `if` statement to be safe?

`mountlib` where you have it is perfect then it will apply to mount/cmount/mount2 also

[2020-03-03 16:19] ncw commented on #4034
This is a great idea.  I think implementing it would be quite easy

Altering this to check `if path == "-"`` and using `os.Stdin` (remember **not** to close it) would mean all the filter `-from` flags would then understand `-`.

https://github.com/rclone/rclone/blob/1c800efbace663d5b3e889cf7f49cabb4e8b3cd6/fs/filter/filter.go#L467-L471

Any takers? Don't forget to update the docs.

[2020-03-03 16:24] #2800 closed

[2020-03-03 16:26] ncw commented on #4031
Sorry, I missed that

OK.

I will try to reproduce.

[2020-03-03 16:32] hakong commented on #4035
Each directory contains a few files:
1x 15-20GB file
1x 5-10GB file
3-4x 5M-10MB files
a few metadata and checksum files (<1KB)

I don't have time right now, but I'll test the multi-thread-stream option next week.

[2020-03-03 18:43] premeau commented on #3991
I am using sync .. and conducting a simple test, I have confirmed that `--disable Copy` is not tested during the modification time process.

Rather than continuing the discussion here, I'll open a separate issue and describe my situation and concerns.

[2020-03-03 19:39] ncw commented on #3991
@premeau I think you are experiencing the same issue most likely.

[2020-03-03 19:48] premeau opened #4037 "Provide option to re-upload content to B2 rather than use file copy to adjust modification time."
#### What is your current rclone version (output from `rclone version`)?

rclone v1.50.2
- os/arch: linux/amd64
- go version: go1.12.8

#### What problem are you are trying to solve?

Currently, rclone uses the `b2_copy_file` API call to update the metadata element containing the file's modification.

The current implementation appears to use the following process:
- `b2_list_file_names`  -- for t

[2020-03-03 20:00] berniegp commented on #3445
I tested your beta version and confirmed that my local VM test now works. Before doing that I also confirmed that the latest release still fails with the test scenario.

I can't really test it on the production server at this time, but I think you have that covered in #3984 anyway!

[2020-03-03 20:01] berniegp commented on #3445
Thanks for your help!

[2020-03-03 21:01] githuborer commented on #4018
Hi,
its always the same .conf

https://pastebin.com/4krv3nHc

[2020-03-03 22:10] JonNelson commented on #4033
OK. I have 1.51.
What do I do with it?

Neither 'purge' nor 'cleanup' seem to do what I want.
'purge' tells me I have pending multipart uploads.

[2020-03-04 01:41] buengese commented on #3989
Closing this now that Yandex has unbanned our client id. Please report back if the situation changes again.

[2020-03-04 01:41] #3989 closed

[2020-03-04 10:52] ncw commented on #3984
Ah, I can see from the log that I made a mistake with that :-(  Here is a reworked and better tested version of the patch! I'm not 100% sure it is going to work, but give it a try!

https://beta.rclone.org/branch/v1.51.0-081-g00c42e47-fix-3984-ftp-timeout-beta/ (uploaded in 15-30 mins)

[2020-03-04 11:58] ncw commented on #4033
1.51 can't remove the pending uploads, but it should make sure you don't get them in future.

really `rclone cleanup` should remove pending multipart uploads

Here is how to remove them with the AWS tools: https://stackoverflow.com/q/39457458/164234

That is what I'd like rclone to do when you use `rclone cleanup`.

[2020-03-04 12:15] ncw commented on #4018
Can you try with `--disable ListR` and see if that works?

Can you also try deleting `root_folder_id` from the config?

Looking at your log the single directory in the root is listed fine, but rclone doesn't list it any further which is the problem.

[2020-03-04 12:17] ncw commented on #3445
Thanks for testing @berniegp - much appreciated.

[2020-03-04 13:42] waspoza commented on #3984
This version was interesting. First 6 files or so got copied but with 20s delay between them and then it hanged. I had concurrency = 2, close_timeout = 3 and no other options.

Here's the log: https://gist.github.com/waspoza/fff18ff77c89f06c60c44215bf71283f

[2020-03-04 14:33] animosity22 commented on #4030
This seems just like a question rather than an issue. If you can make a post on the forums, we are happy to help out!

[2020-03-04 14:33] #4030 closed

[2020-03-04 15:37] buengese commented on #4032
I'm all for removing the vendor directory makes merges and rebase much more painful but it might still be to do early to.

Actually I'd have said let's keep it until the new Ubuntu LTS version is out (or given that the current LTS still ships with go1.10 but if compile with 1.10 is already unsupported I see no reason to keep it any longer.

[2020-03-05 03:31] walknotes commented on #2444
HTTPS_PROXY=bla bla
capital letter, that matters.

[2020-03-05 06:41] githuborer commented on #4018
d:\Progs\DirIt>.\rclone\rclone.exe -vv --config .\rclone\rclone.conf lsf --disable ListR --files-only -R GmdShared:
2020/03/05 07:41:29 DEBUG : rclone: Version "v1.51.0" starting with parameters [".\\rclone\\rclone.exe" "-vv" "--config" ".\\rclone\\rclone.conf" "lsf" "--disable" "ListR" "--files-only" "-R" "GmdShared:"]
2020/03/05 07:41:29 DEBUG : Using config file from "d:\\Progs\\DirIt\\rclone\\

[2020-03-05 11:40] ncw commented on #4032
I dropped go1.10 support when go1.14 came out so we support 4 go versions. I didn't realize that about the Ubuntu LTS... The new LTS is due next month isn't it.

I was thinking of adding the result of `go mod vendor` to the source tarball. A good idea? It then means the source has diverged from being a git checkout so maybe it should be a separate tarball?

The initial attempt at removing modules

[2020-03-05 12:13] ncw commented on #3984
Very interesting...

So it looks like the fundamental problem is that rclone thinks it has less connections open than the server does, retries don't appear to be fixing this.  This is probably because of the `close_timeout` - rclone gives up after 3 seconds and says the socket is closed but the server still has it as open.

The log makes this likely I think - there are 3 close timeouts, and then t

[2020-03-05 12:21] ncw commented on #4018
OK that narrows it down a bit... From 1.50 to 1.51 there aren't that many relevant commits.

I wonder if this is the problem 4453fa4ba64f6729e99098269d441a207bc2ae08

can you try this?

https://beta.rclone.org/branch/v1.51.0-084-g22dc48de-fix-4018-drive-listR-beta/ (uploaded in 15-30 mins)

[2020-03-05 12:49] waspoza commented on #3984
Let me explain exactly what's happening, so maybe it will help you figure things out.

When rclone mounts ftp I can copy files back and forth with cp or midnight commander without any problems whatsoever.

Problems start when restic mounts the backup repository that is on this ftp server. When I copy files from mounted backup those timeouts and 3 conns start to happen.

We could easily blame resti

[2020-03-05 13:56] ncw commented on #3984
I wonder if `restic` is only requesting part of the data or something like that. which causes the `close` not to work properly.

The close errors seem to happen after seeks

Can you also try with `--async-read=false` - I think that will help with the excessive number of seeks

It might also be worth trying with `--buffer-size 0`

[2020-03-05 13:57] #4026 closed

[2020-03-05 14:28] ncw commented on #4032
Just ran into https://github.com/golang/go/issues/37436 while testing locally :-( We'll see whether it works on GitHub actions in a moment.

[2020-03-05 14:39] ncw commented on #3203
I see...

The definition is

https://github.com/rclone/rclone/blob/ce23cb209313d870141b1c062f7c2a3bc8cf7f3e/fs/accounting/accounting.go#L21

Perhaps we should split that up into

[code]

And check for `ErrorMaxTransferLimitReached` but return `ErrorMaxTransferLimitReachedFatal`

[2020-03-05 14:56] #4028 closed

[2020-03-05 14:57] ncw commented on #4028
I've updated the docs so they match rclone's behaviour - thanks for reporting this :-)

[2020-03-05 16:31] waspoza commented on #3984
This is more then likely, because restic uses this de-duplicating algorithm that splits files into small chunks, discard duplicate chunks, and then combine the rest into bigger files (to avoid filesystem pollution with millions of tiny files). So when file is requested to restore, restic pulls all the chunks of this file from inside the big files. This is when the seeks happen.

Well, there are no

[2020-03-05 16:37] githuborer commented on #4018
Seems to be okay now:
d:\Progs\DirIt>**.\rclone\rclone.exe -vv --config .\rclone\rclone.conf lsf --files-only -R GmdShared:**
2020/03/05 17:36:40 DEBUG : rclone: Version "**v1.51.0-084-g22dc48de-fix-4018-drive-listR-beta**" starting with parameters [".\\rclone\\rclone.exe" "-vv" "--config" ".\\rclone\\rclone.conf" "lsf" "--files-only" "-R" "GmdShared:"]
2020/03/05 17:36:40 DEBUG : Using config fil

[2020-03-05 19:15] 1xe commented on #3851
Sorry about the late reply. I somehow missed your message two months ago. Anyway...

I would like to be able to run `rclone mount` like this

`rclone mount ... --rc ... --attr-timeout=-1 --dir-cache-time=-1 --poll-interval=0 ...`

i.e., with "infinite" caching and no polling because I know exactly when the remote changes. It's always the result of a (scripted) invocation of `rclone move` and said

[2020-03-05 19:35] kultigspritzig commented on #4021
@ncw I have reverted back to using crypt only, since my OneDrive business account actually does take files up to 100GB in size now, so I no longer have use for chunker. However, I set up another of my OneDrive accounts with chunker just for testing and it worked just fine. I guess this can be closed.

[2020-03-05 23:14] cafarm opened #4039 "Race condition causing hang in vfs.readAt()"
#### What is the problem you are having with rclone?
rclone mount stops responding and hangs indefinitely. Killing rclone when this happens reveals the following stack:

[code]

I believe this is because there is a race condition in the following section of code:

https://github.com/rclone/rclone/blob/5ee24f804f0058d33da4ebee2235a53508f770e5/vfs/read.go#L238-L255

If `timeout` fires before it gets

[2020-03-06 04:01] dandv commented on #888
@Bazzu85 Linking to issues is harddd... #2721.

[2020-03-06 04:02] dandv commented on #2721
Does this depend on #1033?

[2020-03-06 06:03] ivandeex commented on #4021
@kultigspritzig ok let's mark it "does not reproduce"

@ncw maybe we can add a "onedrive + crypt + chunker" config to the integration suite?

[2020-03-06 06:09] ivandeex commented on #3972
@jfabaf
Please excuse my long absense, I'm back for rclone now.
I can't reproduce your issue with current release on my gdrive.
I noticed your version in log is "v1.51.0-DEV".
Could you please install "v1.51" (w/o DEV) and repeat the experiment?
Best, Ivan

[2020-03-06 08:14] Bazzu85 commented on #888
??

[2020-03-06 12:05] jfabaf commented on #3972
@ivandeex Thank you very much.
I've repeated it with rclone 1.51 (installed from .deb) and I got same issue.
This is my configuration (secret information hidden):

[gdrive3]
type = drive
client_id = *********
client_secret = *******
scope = drive
token = *****
root_folder_id = ******

[gdrive3crypt]
type = crypt
remote = gdrive3:/crypt
filename_encryption = standard
directory_name_encryption = tru

[2020-03-06 13:18] ncw commented on #3851
Do you want to make a new issue about that? It shouldn't be too hard.

[2020-03-06 13:48] ncw commented on #4039
Hmm, have you got the full backtrace?

I'd like to see if the go routine started at line 242 was still running.

How did you get this to happen? Does it happen often?

What you are saying I think is that the `fh.cond.Broadcast()` on line 248 runs before the `fh.cond.Wait() ` on line 254 and hence the `Wait` waits forever.

I'll just note that we set `atomic.StoreInt32(&abort, 1) ` on line 246 whic

[2020-03-06 15:34] ncw commented on #4018
Great - thanks for testing.

I've made a proper fix - can you try this please?

https://beta.rclone.org/branch/v1.51.0-088-g69563127-fix-4018-drive-listR-beta/ (uploaded in 15-30 mins)

[2020-03-06 15:35] ncw commented on #2721
That would fix it instantly, but no it doesn't.

[2020-03-06 15:37] ncw commented on #4021
That is a reasonable idea!

[2020-03-06 15:50] ncw commented on #3984
Well I think we have made amazing progress on this issue
- ftp concurrency is fixed 28f69f25a001923ca880192e8b4960f7bf58496b
- concurrency token leak fixed e8eb658ba5b2cda4d525c39eb815f548fd0b8288
- fix lockup on close when using concurrency limit da5cbc194a6fa337e0ae162da5c89605f8347232
- fix pure ftp spurious 150 messages 7d70eb034664c2f5b5ca33ce5728e46248069c88

I think that is enough to make r

[2020-03-06 16:05] cafarm commented on #4039
The full backtrace is below.

It occurs infrequently (probably less than a percent of a percent). We can fairly reliably get it to occur by looping over an `rclone mount` sequence a few hundred times. That sequence will mount a remote, access some data for about a minute, unmount and repeat.

Indeed. I think the main goroutine would need to make it to the `waiting for in-sequence...` debug stateme

[2020-03-06 16:07] githuborer commented on #4018
D:\Progs\DirIt>.\rclone\rclone.exe -vv --config .\rclone\rclone.conf lsf --files-only -R GmdShared:
2020/03/06 17:07:20 DEBUG : rclone: Version "v1.51.0-088-g69563127-fix-4018-drive-listR-beta" starting with parameters [".\\rclone\\rclone.exe" "-vv" "--config" ".\\rclone\\rclone.conf" "lsf" "--files-only" "-R" "GmdShared:"]
2020/03/06 17:07:20 DEBUG : Using config file from "D:\\Progs\\DirIt\\rclo

[2020-03-06 16:18] 1xe opened #4040 "Add an interface to update disk space usage"
#### What is your current rclone version (output from `rclone version`)?

[code]

#### What problem are you are trying to solve?

See https://github.com/rclone/rclone/issues/3851#issuecomment-595398764 for the rationale/use case.

#### How do you think rclone should be changed to solve that?

`vfs/refresh` should be updated to also refresh disk space usage. Alternatively, a new, separate `vfs/*` i

[2020-03-06 16:19] 1xe commented on #3851
Done: https://github.com/rclone/rclone/issues/4040 :-)

[2020-03-06 17:12] ivandeex commented on #3972
With chunk size 1G since I'm on GDrive free (15G total), I'm limited with three files by 5 chunks each. Not strictly 70 but let's hope it can reproduce :

[2020-03-06 19:36] jfabaf commented on #3972
I think you should get same issue with 1M chunk size. Thanks.

[2020-03-06 21:25] waspoza commented on #3984
I agree. Backup and restore works now, and that what is most important. :)

Thank you for all your work!

[2020-03-07 13:20] mirfatif commented on #3264
And this may hopefully reduce my work to get a list of changed files and calculate their upload size before syncing:
[code]
I'm not sure if there already exists some better solution to achieve the same.

[2020-03-07 16:47] #4018 closed

[2020-03-07 16:47] ncw commented on #4018
Great - thanks for testing.

I've merged this to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52 - I may put it in a v1.51.1 also.

[2020-03-07 16:50] ncw commented on #3984
I've merged those two things now which means they will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

Thanks for all your testing - I think the ftp backend is significantly better now :-)

I'll close this now

[2020-03-07 16:50] #3984 closed

[2020-03-08 10:10] mmiat opened #4044 "Can't edit files from GSuite with LibreOffice"
#### What is the problem you are having with rclone?

when I edit a file I've this error from LibreOffice: "The lock file could not be created for exclusive access by LibreOffice, due to missing permission to create a lock file on that file location or lack of free disk space."

#### What is your rclone version (output from `rclone version`)

rclone 1.50.2-2
rclone-browser 1.8.0-1

#### Which OS y

[2020-03-08 10:21] #4044 closed

[2020-03-08 10:46] mauro-miatello opened #4045 "Can't edit from LibreOffice"
#### What is the problem you are having with rclone?

When I edit google document/sheet or odt/ods files with LibreOffice, I see strange characters
no problem with txt

#### What is your rclone version (output from `rclone version`)

1.50.2-2

#### Which OS you are using and how many bits (eg Windows 7, 64 bit)

Kubuntu 20.04

####  Which cloud storage system are you using? (eg Google Drive)

GSui

[2020-03-08 15:47] chchia opened #4046 "Synology failed to upload file to gDrive"
#### Output of `rclone version`
1.51.0 (and previous version too.....)

#### Describe the issue
I have a Synology DSM 6.2 (and previous version too...)
i installed rclone, and successfully have it mounted with GDrive, everything work correct when reading.

however, whenever i try to copy file to the mounted folder using DSM File Station, i get "Operation Failed" message from DSM.

if i using SSH t

[2020-03-08 16:40] darthShadow commented on #4046
Please add the debug logs too.

[2020-03-08 16:41] demosdemon opened #4047 "panic during s3 multipart upload"
#### What is the problem you are having with rclone?
panic at this line https://github.com/rclone/rclone/blob/dfc7215bf9b7840f438d006bf7b399974f5ebf42/backend/s3/s3.go#L2271

#### What is your rclone version (output from `rclone version`)
[code]

built from
dfc7215bf9b7840f438d006bf7b399974f5ebf42

#### Which OS you are using and how many bits (eg Windows 7, 64 bit)
[code]
(32bit)

####  Which clo

[2020-03-08 16:43] chchia commented on #4046
A log from the command with the -vv flag (eg output from rclone -vv copy /tmp remote:tmp)
[code]

https://forum.rclone.org/t/synology-dsm-cannot-upload/14808

[2020-03-08 17:28] rubasace commented on #3612
What's the state of this issue? Is there any work in progress? It would be very useful for me if rclone could download to a tmp directory and then move the files once finished. Not sure if we can study that as part of this same issue or I can otherwise raise a new one.

[2020-03-08 17:44] patakijv commented on #924
@shweta-ctx, I had not yet figured out how to fetch results from a specific region but I am returning to needing to do this on a current project and it seems I still have the same problem where if containers exist in different regions, `rclone lsd` only returns the list of containers from first region (it chooses which is first I guess) and then it stops and doesn't show any other containers that

[2020-03-09 06:44] JuliaWang995 opened #4048 "Some problems of rclone incompatibility with Kingsoft Cloud KS3"
#### What is the problem you are having with rclone?

1. In case of uploading text type file, return signature verification mismatch
2. MD5 error reported when uploading m4a and files larger than 5G

####  Which cloud storage system are you using? (eg Google Drive)

Kingsoft Cloud KS3

#### The command you were trying to run (eg `rclone copy /tmp remote:tmp`)
1.
liupengcheng$ rclone copy /Users/li

[2020-03-09 07:48] chchia commented on #4046
i do not know where should i get the log.

for example, /volume2/downloads/rclone showing in picture below is listing my content from gDrive correctly, and i can mkdir a folder caller test (no need to use root, same user account as inside Synology GUI)
![image](https://user-images.githubusercontent.com/1291771/76192577-1c80d400-621d-11ea-9235-6996fbeaa934.png)

however when i go to DSM File Explor

[2020-03-09 08:38] darthShadow commented on #4046
Add the `--log-file` argument with a proper file path to get the log file.

[2020-03-09 08:50] chchia commented on #4046
i did, i checked the logfile, and no error shown when i face problem in the GUI.

by the way i can rename file in GUI, just connot copy file to it or create a folder

below is a gdrive log when i first open it and try to copy a file using GUI, no error message found
`2020/03/09 16:45:22 INFO  : Starting HTTP transaction limiter: max 8 transactions/s with burst 1`

below is a gdrive log when i crea

[2020-03-09 09:39] darthShadow commented on #4046
Can you specify the `--log-level` as DEBUG and add the resulting logs?

[2020-03-09 09:45] chchia commented on #4046
thank you, the log below, i perform a add folder in GUI but failed, then i rename one of the existing folder called "rename it" to "rename it for debug"

sorry long log i dont know how to make it simple.

[code]

[2020-03-09 10:03] anuar45 commented on #3203
Thanks you for your comments, your solution looks more natural

New commit ready.

[2020-03-09 13:32] ncw commented on #4046
There aren't any errors in the logs :-(

This makes me think it might be a permissions problem? What user does the `rclone mount` run as and what user does the `Synology GUI` run as?

[2020-03-09 14:10] chchia commented on #4046
i tried different permission with both rclone and GUI are same, no help.
i gave all related folder chmod 777, no help.

the problem is, i cannot do the new file thing in GUI but it is OK with SSH, and SSH and GUI is also same user.
I can rename or delete file in GUI, but i cannot change the content of the file or create new file.
i checked, all permission seems very normal to me.

![image](https:/

[2020-03-09 15:03] ncw commented on #3612
No-one is working on this at the moment. Do you want to @rubasace ? It probably isn't too complicated. I think the feature you want is `--partial-dir` which is quite related

            --partial               keep partially transferred files
            --partial-dir=DIR       put a partially transferred file into DIR

[2020-03-09 15:58] ncw commented on #924
That is how swift seems to work, unless rackspace have another endpoint which can fetch all the containers at once?

[2020-03-09 16:00] rubasace commented on #3612
Sure I can give it a try, though I have no experience at all with go lang. Could you maybe point me in the direction of where should I touch more or less? It would make my life way easier :D

[2020-03-09 16:12] demosdemon commented on #4047
ok, more context:

this is happening every time I try to upload a 61GB (as seen in the output). anecdotally, I feel like this block is responsible https://github.com/rclone/rclone/blob/dfc7215bf9b7840f438d006bf7b399974f5ebf42/backend/s3/s3.go#L2133-L2150

I suspect if I change the chunk size in my config such that the 61GB can be partitioned less than 10k times, I won't encounter this problem.

[2020-03-09 16:12] demosdemon commented on #4047
and here's the issue https://github.com/rclone/rclone/blob/dfc7215bf9b7840f438d006bf7b399974f5ebf42/backend/s3/s3.go#L1920

[2020-03-09 16:14] ncw commented on #4047
So it is! That should say `size` not `fs.opt.ChunkSize`.

Fancy sending a PR?

[2020-03-09 16:15] demosdemon commented on #4047
Working on it now!

[2020-03-09 16:56] #4047 closed

[2020-03-09 21:06] o0-o opened #4050 "Sanitizing --filter-from input?"
I have a quick question that I need to ask before I deploy this at work.

Are files passed to `--filter-from` thoroughly sanitized or is there a potential for arbitrary execution there?

If so, please disregard, otherwise, I am requesting it as a feature.

[2020-03-10 01:18] wlerin opened #4051 "[Drive] Autocached root_folder_id disables team drive access"
#### What is the problem you are having with rclone?
Since ba7c2ac443233ec4b73eed1054bd68c59eb3d8dd, accessing a Google Drive remote adds a root_folder_id to the config file. Thereafter, thanks to 473a437163027ae6116b948a71d2de467890f2d2 , the `--drive-team-drive` flag (or equivalent environment variable) is ignored on that remote. I'm not entirely clear on the motivation behind the second change

[2020-03-10 06:30] chchia commented on #4046
just installed beta version, same result

[2020-03-10 11:34] ncw commented on #4050
Rclone is written in Go which is a [memory safe language](https://en.wikipedia.org/wiki/Memory_safety) so I'd say the chance for arbitrary execution is very very low. Go doesn't have buffer overruns or dangling pointers or heap free problems so much of the attach surface for a C program isn't present.

The contents of the files are parsed by rclone. Irregular input will cause rclone to return an e

[2020-03-10 11:46] ncw commented on #4051
Hmm, that was an unexpected consequence.

One of `team_drive` or `root_folder_id` has to win as they both specify the same thing 473a437163027ae6116b948a71d2de467890f2d2 made it so `root_folder_id` would win so you could then specify that in on the command line.

What you want is the reverse!

I note that you can work-around this with `--drive-root-folder-id ""`

I'm not sure the best thing to do.

[2020-03-10 11:51] ncw commented on #4046
Can you try a mount with a cut down command line? Here is a more minimal set of options for you to try

[code]

[2020-03-10 12:00] #3203 closed

[2020-03-10 12:01] ncw commented on #3203
I've merged this to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

Thank you :-)

[2020-03-10 13:12] chchia commented on #4046
Thank you for the advice, i used the cut down command, and i am still having exact same problem.
1. i can rename file or delete file in GUI.
2. i cannot copy file into rclone mounted folder in GUI.
3. i can copy file by SSH using standard linux command "cp" or "mv" to any rclone mounted folder.
3. at the same time, in the GUI, i can perform all file activity in other folder except those folder mou

[2020-03-10 13:33] darthShadow commented on #4046
Would you mind trying 2 things:

* Add `--allow-root` to rclone and check.
* Check directly with the drive mount, without the cache backend.

[2020-03-10 13:41] chchia commented on #4046
thanks, i stopped all rclone, and only run 1 gDrive without cache or crypt. here i got when i try to create a folder name "qwe", it just show file or directory not exist.

![image](https://user-images.githubusercontent.com/1291771/76317759-a2814580-6317-11ea-8c76-08d984379f09.png)

[2020-03-10 13:44] darthShadow commented on #4046
And the `--allow-root` experiment?

[2020-03-10 13:45] chchia commented on #4046
yeap, with the allow-root

![image](https://user-images.githubusercontent.com/1291771/76318317-8205bb00-6318-11ea-9ebc-4f2510389671.png)

[2020-03-10 13:47] darthShadow commented on #4046
Can you add the debug log file for this command too?

[2020-03-10 14:02] chchia commented on #4046
Below is the DEBUG log i used allow-root.

and i notice this

i am wondering is it because permission

so i checked and i should have permission
![image](https://user-images.githubusercontent.com/1291771/76319859-c72aec80-631a-11ea-8dfa-da9b41a1d213.png)

[code]

[2020-03-10 14:09] chchia commented on #4046
just to make sure cache folder is not an issues, i add --cache-dir and below is the log, still same thing. but i checked the cache-dir, there is no vfs or gDrive folder, is it normal?

[code]

[2020-03-10 14:12] darthShadow commented on #4046
Does the `/volume2/downloads/rclone-upload-tmp` folder exist?

To remove all possibilities of permissions isues, could you run the mount command as root along with `--allow-other` and try? Please post the corresponding debug logs too.

[2020-03-10 14:21] chchia commented on #4046
yes `/volume2/downloads/rclone-upload-tmp` is exist
![image](https://user-images.githubusercontent.com/1291771/76321046-74eacb00-631c-11ea-957b-40a26b038301.png)

actually, i tried the root command to mount before, here you go, rclone running in root
![image](https://user-images.githubusercontent.com/1291771/76321715-5df8a880-631d-11ea-9ab7-5f479f31cd20.png)

and the debug log when i try to create

[2020-03-10 15:45] ncw commented on #4046
This is likely the OS looking to see if there is already a "123" directory before it makes one.

This is what I see when I try a mkdir

[code]

So why didn't the GUI go on to do a Mkdir?

Maybe you could add `--debug-fuse` to the command line - that could possibly show something.

[2020-03-10 15:46] mathieucarbou opened #4053 "pCloud "Crypto Folder" not working"
#### What is your current rclone version (output from `rclone version`)?

[code]

#### Issue

I would kike to be able to do some file operations from/to pCloud to a pCloud _Crypto Folder_.

[code]
As you can see, with `lsd`, the folder names shown are the encrypted ones. I only have a folder named `test`.

@tmpit and @ivankrastev26 are pCloud devs that might tell us if this is possible or not ?

[2020-03-10 16:46] chchia commented on #4046
thanks for advise, below log with --debug-fuse added

[code]

[2020-03-10 16:58] wlerin commented on #4051
Regardless of where it's set, in what situation would one want `root_folder_id` to take precedence over `team_drive`? If it is configured as a `team_drive`, they should be identical, no? If one is trying to use `--drive-shared-with-me` with a remote configured as a `team_drive` should it not just fail, or return a warning? What other commands would prefer the actual root rather than the team drive

[2020-03-10 17:34] o0-o commented on #4050
Thanks, that's good to know.

Yes, my concern is untrusted data passed to `--filter-from`. I am not really concerned with a sophisticated attack on system memory or similar (although good to know that should not be possible). I mainly just need to know that it's not possible to arbitrarily pass arguments to rclone or break out into the shell via a malicious `--filter-from` file.

[2020-03-10 18:28] tou2 commented on #3411
I have installed a new raspbian OS on a brand new high endurance SD card, I have also installed the latest rclone version 1.51.0.
I also created my own google api app after reading about google's rclone quote issue.
I have followed these step to install rclone and the google api app:
https://medium.com/@artur.klauser/mounting-google-drive-on-raspberry-pi-f5002c7095c2

Everything worked perfectly f

[2020-03-11 00:43] 3xploiton3 commented on #4013
same issue on me, tested in shared drive (team drive)

bot & bot1 have same access but use different account

![image](https://user-images.githubusercontent.com/19517680/76370931-16007280-636b-11ea-9bdd-191c9de2f8c7.png)

[2020-03-11 05:31] darthShadow commented on #4013
Try with the `--disable ListR` argument to rclone and see if the sizes match then.

[2020-03-11 05:38] darthShadow commented on #4051
I agree with @wlerin, I am not sure if it's worth the trouble to support both team_drive and root_folder_id simultaneously when they have different values, especially if the root_folder_id can be automatically set by rclone.

It should probably error out in such cases to avoid any issues with automatic syncs that users may be running.

[2020-03-11 08:33] ncw commented on #4050
I think you are good to go then :-)

(With the usual caveat about software being complicated, security being doubly so and rclone not guaranteeing anything!)

I'll close this now.

[2020-03-11 08:33] #4050 closed

[2020-03-11 08:35] ncw commented on #4013
Also try with [the latest beta](https://beta.rclone.org) where I fixed an issue with --drive-shared-with-me if you are using that?

[2020-03-11 11:48] rvalitov commented on #1971
This issue is not fixed yet?

[2020-03-11 12:23] agneevX opened #4055 "Remove folders with rclone delete"
#### What is your current rclone version (output from `rclone version`)?
[code]

#### What problem are you are trying to solve?
Delete all contents instead of just objects with `rclone delete`.

#### How do you think rclone should be changed to solve that?
As [discussed](https://forum.rclone.org/t/how-do-i-delete-all-the-contents-of-a-folder/14837) on the forums, a flag, `--rmdirs` along with `rcl

[2020-03-11 13:09] ncw commented on #4013
@ferferga

I've written some code to attempt to fix this. I'm having trouble getting the problem to appear though - you can't do it through the normal google drive site - when you move the duplicate into the target folder you only get one and the duplicate disappears.

Unfortunately being on Linux I can't use the google drive sync to test what you are doing.

I could send you a binary to test - wo

[2020-03-11 14:45] ncw commented on #4055
I think the easiest way of implementing this would be to run`rclone rmdirs` if the `--rmdirs` flag is set.

It would be more efficient to accumulate the directories in the delete phase for a bit more code than the `rmdirs` solution

Do you want to help implement this @agneevX - I can make an outline of the work if you want?

[2020-03-11 17:12] calisro opened #4057 "Optimize rclone to not do directory listings before certain FILE commands"
See discussion here:

https://forum.rclone.org/t/rclone-cat-is-doing-a-directory-listing-filter-before-cating/14857/2

"If this could use a different mechanism for listing rather than the --files-from trick then it would fix all of these at once. For example making a wrapping Fs which only lists one file. That would work and is how rclone used to work but I had to remove it as wrapping with extras

[2020-03-11 18:06] agneevX commented on #4055
Not sure; I don't know much of Golang, studied Java in HS, that's all :)

[2020-03-11 20:48] kennyparsons commented on #397
@ncw If I dont have gig speeds, would I need to keep my chunk size below my upload speed for optimal performance?

[2020-03-11 21:50] wlerin commented on #4051
The main issue with erroring out is that doing so will cause hard exits in what I'd assume to be fairly common usage. Then again, this has been the case since Nov 19 and I'm the first one to report it that I can see--it wouldn't affect users who either aren't using team drives, or are making dedicated remotes for them.

Does the config file support global flags, like one to turn off automatically

[2020-03-12 05:41] 3xploiton3 commented on #4013
this command not showing anything
[code]

[2020-03-12 05:44] darthShadow commented on #4013
No output at all? Can you see what adding `-vv` shows?

[2020-03-12 07:31] 3xploiton3 commented on #4013
sorry, after a few hours i leave my computer,

[code]

thx for suggestion,

[2020-03-12 09:02] Dibbyo456 opened #4058 "Implement OneDrive server side copy"
OneDrive does have server side copy feature just like Google Drive.

Docs: https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/driveitem_copy?view=odsp-graph-online

[2020-03-12 09:21] tYYGH commented on #3997
Hello, here's a small recap’ of the whole subject:

* Each mounted filesystem must report all of Free, Used, and Total space. With the pull-requests I wrote, this is taken care of (well, one PR is still on my side: `--vfs-forced-total=XXX`).
* Each operation on a mounted filesystem must heed the computed Free and Total space. _That_ is what remains to be done.

Note: I’ll develop this patch, with

[2020-03-12 09:29] socketpair commented on #2092
mirror.yandex.ru supports rsync as well. I would like to use this protocol because directory listing will be native (comparing to parsing of autoindex pages)

[2020-03-12 09:46] Sparoney opened #4059 "[Question] Google Drive change file owner/modified by"
Hi,

This is just a quick question, I was wondering if there is a command or way to change who last modified a file on Google Drive without making another copy? Similar to how renaming a file changes who it was lost modified by.

For example if I'm using service accounts to copy lots of files I would like them to rather say "modified by Sparon" than "modified by mfc--mm1234xxxxxw8e887xxxx" etc.

T

[2020-03-12 10:00] Sparoney opened #4060 "Google Drive change incorrect mime-type of file"
#### What is your current rclone version (output from `rclone version`)?

v1.51.0-089-gdfc7215b-beta

#### What problem are you are trying to solve?

I have some files in Google Drive that were incorrectly uploaded. They are mkv files however Google thinks they are Binary files, and thus doesn't show a video preview. They can be played fine with rclone mount.

#### How do you think rclone should b

[2020-03-12 10:26] ncw commented on #4057
...for maximum efficiency we would change the NewFs interface to return `Fs, Object, error` where if `Object` was non nil then `Fs` points to the parent.

[2020-03-12 10:29] ncw commented on #4046
Thanks for that. It looks like there aren't any further calls to the file system, so I think this must be happening in the application.

What I would normally do now is `strace` the application to see what system calls it is sending - I don't know if that is possible on Synology though.

[2020-03-12 10:30] darthShadow commented on #4060
This was how it used to work earlier with server-side copies also refreshing the mime-type. It was removed because it always used to time out from Google when the mime-type was being changed. That's probably because it involves a full copy rather than a simple link or something similar.

[2020-03-12 10:31] ncw commented on #3411
Config files don't normally just disappear... Did the disk get full? Was there an unclean shutdown? There may be an old version of the config file in `/.config/rclone`.

[2020-03-12 10:34] ncw commented on #397
I can't make a simple recommendation - you'll have to experiment. Usually bigger chunk size makes it faster up to some point where it saturates. Exactly what that point is for you I don't know.

For Gig speeds you'll probably want a chunk size of 32M minimum.

[2020-03-12 11:03] tou2 commented on #3411
The disk didn't git full and there is nothing else in `/.config/rclone` other than an empty config file.

It does get unplugged by the end of the day but what would an unclean shutdown do to the content of a file on disk?

[2020-03-12 11:13] animosity22 commented on #3411
Sure. Unclean shutdown have odd issues. Always best to shut down cleanly as that can cause file system oddities.

[2020-03-12 11:27] tou2 commented on #3411
I will try again for another month without unclean shutdowns but it is odd the same file gets erased for the fifth time.

[2020-03-12 11:58] Dibbyo456 commented on #4059
Haha. You're not alone, I was also thinking about the same. 😅
Drive does have api endpoint which can do this: [permissions/update](https://developers.google.com/drive/api/v3/reference/permissions/update)

[2020-03-12 12:32] pjakuszew opened #4061 "Command line parameter "--syslog-facility" does not accept LOCAL0..LOCAL7"
#### What is the problem you are having with rclone?

I cannot use `--syslog-facility LOCAL3` - it returns following error:

[code]

Other facilities like KERN or DAEMON (default one) are accepted.

#### What is your rclone version (output from `rclone version`)

v1.51.0

#### Which OS you are using and how many bits (eg Windows 7, 64 bit)

Debian GNU/Linux 10 (buster) amd64

####  Which cloud sto

[2020-03-12 15:23] darthShadow commented on #4061
This should be simple enough if you would like to send a PR for it. Use the golang [doc](https://golang.org/pkg/log/syslog/#Priority) as a reference and add the respective mappings in [syslog_unix.go](https://github.com/rclone/rclone/blob/ae340cf7d93fe394deb6b723805cbd2259c5bce3/fs/log/syslog_unix.go#L17)

@ncw Correct me if I am wrong and something additional is required too.

[2020-03-12 15:35] joshuajbrunner commented on #2605
@ncw
Does the opposite work?

Im trying to run `rclone mount --rc --rc-htpasswd=<path/to/htpasswd>` but `rclone rc job/list --rc-htpasswd=<path/to/htpasswd>` comes back with `Failed to rc: Failed to read rc response: 401 Unauthorzied: Unauthorized`

[2020-03-12 17:03] Dibbyo456 opened #4062 "Implement OneDrive shared with me"
OneDrive has shared with me listing api, like Google Drive `--drive-shared-with-me`.

Docs: https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/drive_sharedwithme?view=odsp-graph-online

[2020-03-12 18:03] pjakuszew commented on #4061
Thank you for response, @darthShadow !

Indeed, it seems to be a really simple change - I have made a PR, I checked it locally and `--syslog-facility LOCAL0...7` now works correctly.

[2020-03-12 18:24] antibill51 opened #4064 "Ignoring certain types of errors"
Hi.

I use Rclone/Rclone:latest on docker to sync folders of my Synology to PCloud.

I have this errors :

date | stream | content
-- | -- | --
2020-03-12 18:11:25 | stdout | 2020/03/12 18:11:25 ERROR : Surveillance/Wanscam/20200312PM/Wanscam-20200312-190610-1584036370.mp4: Failed to copy: Put https://api.pcloud.com/uploadfile?filename=Wanscam-20200312-190610-1584036370.mp4&folderid=5513689289&mti

[2020-03-12 19:26] pjakuszew commented on #4061
Actually, I will cancel the PR for now - this comment in golang reference documentation worries me:

[code]

While it did work on my environment (Debian), this comment suggests that it may not behave correctly on other Syslog implementations.

[2020-03-12 19:54] pjakuszew commented on #4061
So, standard described in https://tools.ietf.org/html/rfc5424 specifically mentions `local0..7` facilities, with following comment:

Should we just assume that we are running on OS with syslog daemon which implements the standard from RFC?

[2020-03-12 21:25] ncw commented on #4061
I would say that if it compiles then the symbols exist so it is fine.

Did the CI run clean? In particular the compile all build?

[2020-03-13 01:39] Sparoney commented on #4060
Yes you're right actually that reminds me. I went back through the commits to where the mime-type code was changed and tried using it the old way. The copy would just be stuck on 0/0 the whole time. I'm guessing this can't be fixed/implemented

[2020-03-13 01:41] Sparoney commented on #4059
This is actually really useful @Dibbyo456, do you know of a script that can do this recursively? My current guess would be to gather all the file ID's and then make a loop to go through them all

[2020-03-13 03:19] darthShadow commented on #4059
I haven't tried it myself but this should probably do that: https://rclone.org/commands/rclone_touch/

[2020-03-13 03:20] darthShadow commented on #4060
You can obviously do an upload/download of the affected files to fix the mime-types but I doubt anything can be done about server-side copies unless Google fixes it on their backend.

[2020-03-13 03:51] Sparoney commented on #4060
Yeah I was hoping I wouldn't need to download and reupload because my upload speed is trash but I'll just try and get a virtual machine.

[2020-03-13 04:06] darthShadow commented on #4060
You could use VM's from Google Cloud. Their upload and download won't be counted as long as it's from and to Google Drive. If you can make do with the instance available in the free tier, then this whole operation will be basically free.

[2020-03-13 06:20] darthShadow commented on #4058
rclone already uses the same API for copies and hence already supports server-side copies. Source: https://github.com/rclone/rclone/blob/6fdd7149c1b68223c42cf5fe9994a4b78fa3d9bc/backend/onedrive/onedrive.go#L972

Is there anything specific that you require that is missing?

[2020-03-13 07:33] pjakuszew commented on #4061
@ncw Yes, according to CI, everything is fine: https://github.com/rclone/rclone/pull/4063/checks?check_run_id=503871184

[2020-03-13 08:38] Dibbyo456 commented on #4058
I tried to copy files between 2 onedrive accounts, but Rclone was not doing server side copy.

[code]
The `MyFolder` directory from `onedrive1` is shared with `onedrive2` but still the server side copy did not work.

I guess the file/directory has to be copied from `Shared with you` listing to make the server side copy work.

[2020-03-13 08:44] Dibbyo456 commented on #4059
@Sparoney this worked for me. I guess problem solved then?

[2020-03-13 08:46] darthShadow commented on #4058
Can you try copying the folder using the same remote since its shared?

[2020-03-13 08:47] Dibbyo456 commented on #4058
How do I list it?

[2020-03-13 08:57] darthShadow commented on #4058
I believe it includes the shared folders by default in the listing, so it should be as simple as replacing `onedrive1` in the copy command with `onedrive2`.

[2020-03-13 09:02] Dibbyo456 commented on #4058
Nope, it does not. `lsf` not returning the shared directory. This is exactly why I opened #4062

[2020-03-13 09:09] darthShadow commented on #4058
Is this OneDrive Personal or Business? According to [this](https://github.com/rclone/rclone/issues/2536), it should work fine for Personal accounts. Anyway, I will wait for someone more knowledgable about this to chime in.

Not sure if it would be helpful, but can you please specify the rclone version and add the debug logs too?

Pinging @Cnly

[2020-03-13 09:11] Dibbyo456 commented on #4058
Business

https://github.com/rclone/rclone/issues/4058#issuecomment-598610346

[2020-03-13 14:50] pollux105 opened #4065 "Failed to copy: multpart copy: failed to open destination: mkdir \\?"
Hi, I experience a problem with Rclone.

I just started backing up 3 folders with 3 different but similar tasks from a win10 to a synology NAS.
All the 3 tasks are similar, as the one following :
`
start "C:\Program Files\rclone\rclone.exe" '--log-file="C:\Users\Cédric\Documents\log_backup_lightroom.txt" --log-level=INFO  sync "L:\Lightroom\Lightroom Catalog.lrcat" //10.0.1.1/lightroom/`

The 3 ta

[2020-03-13 16:43] lpsmith opened #4066 "Symlink handling broken"
#### Output of `rclone version`

rclone v1.48.0
- os/arch: linux/amd64
- go version: go1.12.6

#### Describe the issue

I would like to copy some files out of a nix store into Google Drive.   The hitch is that the nix store sets the modification time of every file inside of it to `1970-01-01 00:00:00Z`,  so that the modification time cannot be used to break reproducible builds.   However, I would

[2020-03-13 16:46] darthShadow commented on #4066
You will need the `--copy-links` or `-L` to copy the item pointed to by the symlink.

[2020-03-13 18:19] patakijv commented on #924
Glancing through the github repo for CyberDuck, it appears that they way it pulls all containers from all regions is that it gets all regions available and cycles through them all. Apparently swift has a regions list feature. Perhaps rclone's openswift/rackspace implementation could adopt getting the regions list and allow for region to be undefined or set to 'all' and have it get containers from

[2020-03-13 18:35] lpsmith commented on #4066
Ok, so I managed to get that to work,  however,  it's still uploading with a modification time of `1970-01-01 00:00Z`,  not the time when the symlink was created, so that doesn't actually solve the issue I was hoping it would solve :-(

[2020-03-13 19:23] darthShadow commented on #4066
Since this is more of a question rather than an issue, would you mind hopping on over to the forums at https://forum.rclone.org/ so more people can provide suggestions?

[2020-03-13 21:37] ncw commented on #4066
I made a suggestion here: https://forum.rclone.org/t/how-can-i-not-preserve-file-timestamps/14904/3

I'll close this one now.

[2020-03-13 21:37] #4066 closed

[2020-03-13 21:41] ncw commented on #4065
What version of rclone are you using? Can you try [the latest release](https://rclone.org/downloads/) or [the latest beta](https://beta.rclone.org)?

[2020-03-13 21:42] ncw commented on #924
Ah, I see. That makes sense.

This would be possible - fancy implementing it?

[2020-03-13 21:44] #4061 closed

[2020-03-13 21:45] ncw commented on #4061
I've merged this to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52 - thank you @pjakuszew

[2020-03-13 23:53] Sparoney commented on #4059
@Dibbyo456 it also worked for me but I can't figure out how to use this on all files in a folder. I tried putting the folder name in but it just made a new file, and tried using --include as well.

[2020-03-14 00:32] pollux105 commented on #4065
version 1.48, I will upgrade now

[2020-03-14 02:33] Sparoney opened #4067 "rclone touch --timestamp using incorrect timezone Google Drive"
#### What is the problem you are having with rclone?

When using ``rclone touch`` with the ``--timestamp`` flag, the timezone used to change the time is incorrect.

#### What is your rclone version (output from `rclone version`)

rclone v1.51.0-098-gb03462ab-beta
- os/arch: windows/amd64
- go version: go1.14

(latest beta at time of this issue)

#### Which OS you are using and how many bits (eg Wi

[2020-03-14 04:44] Dibbyo456 commented on #4060
@Sparoney I'm having a hard time understanding what you mean. Can you explain it a little more?
Rclone supposed to do exact clone, isn't it?

[2020-03-14 04:48] Dibbyo456 commented on #4059
You can't. You need to use other scripting language to make a loop from `ls` output (such as bash, python, php).

[2020-03-14 05:39] abhishekjain14 commented on #4002
I've seen the same behavior occurring with a Google drive encrypted remote, so it's not just b2

[2020-03-14 06:44] #4065 closed

[2020-03-14 08:26] Sparoney commented on #4059
@Dibbyo456 yep after I commented this I modified a script and got it working. Would be cool if there was a way that didnt touch the modified time at all and just the user, similar to how renaming from an rclone mount works.

[2020-03-14 08:29] Sparoney commented on #4060
Basically, I had copied a bunch of .mkv files from another person's drive. I'm not sure how they were uploaded, but they were uploaded in a way that Google doesn't recognise the file format and thinks its a "Binary file". This means instead of having the red video icon and being able to watch the video on the drive, it has the blue page icon and can't show a preview.

The videos can be played perf

[2020-03-14 08:33] Dibbyo456 commented on #4059
Which language?

Can you try with `--no-update-modtime` ?

[2020-03-14 08:42] Dibbyo456 commented on #4060
Ah, understood. I think they best way to deal with this scenario would be fix those files mime-types in the original copy. You can do this with [Drive API](https://developers.google.com/drive/api/v3/reference/files/update) but sadly no way do this with Rclone.

[2020-03-14 09:57] Sparoney commented on #4059
Just Windows command line

Tried this, didn't work unfortunately

[2020-03-14 13:00] ncw commented on #4065
Glad it is working now :-)

[2020-03-14 18:30] calisro commented on #4064
Im pretty sure you can just add ' --skip-links'.

[2020-03-14 23:14] ncw commented on #4064
The other errors look like files that are changing during the sync. Rclone will retry the sync to retry these files.

[2020-03-15 09:33] xor-gate commented on #1778
I stumbled upon a NodeJS iCloud Services implementation, could be handy as reference to port it to Golang for integration with rclone. See https://github.com/MauriceConrad/iCloud-API

[2020-03-15 10:04] maspodil opened #4068 "Rclone doesn't recongize one drive business"
#### What is the problem you are having with rclone?

Rclone doesn't recognize one drive business

#### What is your rclone version (output from `rclone version`)

rclone-v1.51.0

#### Which OS you are using and how many bits (eg Windows 7, 64 bit)

Windows 7, ultimate 64 bit
####  Which cloud storage system are you using? (eg Google Drive)

one drive
#### The command you were trying to run (eg `r

[2020-03-15 10:28] pendashteh commented on #2127
This issue is not resolved yet.

[2020-03-15 10:46] amigagamer opened #4070 "Modification time not preserved when using Mount"
Timestamp is not preserved when copying files using rclone mount. However times are preserved when using rclone copy

Rclone 1.51 release ,  also tested with Version "v1.51.0-099-gdc069737-beta on x64
Linux mint 19.3 x64 and Raspbian/arm32
Koofr Cloud storage

#### The command you were trying to run (eg `rclone copy /tmp remote:tmp`)

rclone mount Koofr: ~/rclone --vfs-cache-mode writes   (also te

[2020-03-15 11:55] ncw commented on #4068
This is probably because your onedrive administrator hasn't allowed access to files.

[2020-03-15 11:58] ncw commented on #4070
The problem is that Koofr doesn't support setting the modification time of an existing file, you have to delete it and re-upload it.

When `rclone copy` uploads a file it knows the modification time at the start and uploads it with the file.

However when you use `mv` to copy a file into the mount, the modification time is set at the end **after** the file has been uploaded. Rclone can't set the m

[2020-03-15 12:10] ncw commented on #4058
Hmm, looking at the code i see no reason why this shouldn't work...

I added a `--onedrive-server-side-across-configs` flag - give that a go

https://beta.rclone.org/branch/v1.51.0-101-g0b448e46-fix-4058-onedrive-across-configs-beta/ (uploaded in 15-30 mins)

[2020-03-15 12:12] ncw commented on #4062
This would probably be a relatively easy addition - what do you think @Cnly ?

Do you want to help implement this @Dibbyo456 ?

[2020-03-15 12:18] glensc commented on #3815
The add your client id and key instructions do not work.

I've getting this error:

[code]

I've tried to add redirect urls as:
- http://127.0.0.1:53682/auth
- http://127.0.0.1:53682/
- http://127.0.0.1:53682

none of them help

[2020-03-15 12:20] maspodil commented on #4068
It works only if I create my own client id and secret key but if I use the default i.e., rclone's client and secret it will not show the one drive storage instead it will display those 2 storages.
So can you help me out?

[2020-03-15 12:22] glensc commented on #3815
UPDATE: I've captured redirect URL that the authorization uses, and need to fill `http://localhost:53682/` as redirect url for authorization to work

[2020-03-15 12:24] Dibbyo456 commented on #4068
Yeah, I have suffered the same issue even with my own client id sometimes, specially on newly created account.

If it is a newly created account then create/upload a single file in onedrive via browser, after that try rclone, 90% chance it will work. Whenever I face this issue, doing that solved most of the times.

[2020-03-15 12:41] maspodil commented on #4068
Since I am not the only one who suffers this bug/problem it's definitely not from my side and I can easily use gdrive without creating any client id and secret,so can anyone fix this?

[2020-03-15 13:08] amigagamer commented on #4070
Thanks for the explination @ncw

I've read some of the discussions about "delayed write cache" #2327 #3186
Perhaps in the future if something like this is implemented , the atime could be set correctly in the cache before the cloud transfer begins??

[2020-03-15 16:09] Dibbyo456 commented on #4058
**Error**: Failed to copy: can't copy "100MB.bin" -> "100MB.bin" as are same name when lowercase

**Full log**:
[code]

**Info**: The file `100MB.bin` from remote `od21:` is shared with remote `od22:`. Both are different accounts.

I believe to make server side copy between different accounts work, first we need to share the file, then copy it from "**Shared with me**" list from second remote (not

[2020-03-15 21:12] ncw commented on #4058
Ooops, need to remove that check for cross remote - try this

https://beta.rclone.org/branch/v1.51.0-101-g77e94be2-fix-4058-onedrive-across-configs-beta/ (uploaded in 15-30 mins)

Try the above - it looks like it might work... If not then we'll work on plan B

[2020-03-15 21:35] ncw commented on #4070
Yes a delayed write cache would fix the problem here, you are right :-)

[2020-03-15 21:37] ncw commented on #4068
Any ideas? Is this something to do with rclone's default client_id?

[2020-03-15 21:40] ncw commented on #3815
Do you fancy sending an update?

The file which needs editing is here: https://github.com/rclone/rclone/blob/master/docs/content/dropbox.md and here are some instructions on how to do an on-line edit: https://help.github.com/en/github/managing-files-in-a-repository/editing-files-in-another-users-repository

[2020-03-15 21:44] Dibbyo456 commented on #4058
This time it worked. 😘

[code]

[2020-03-16 11:04] ncw commented on #4058
Thanks for testing :-)

I've merged this to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

[2020-03-16 13:24] ncw commented on #4067
Reading the docs a bit more carefully it appears that the timezone touch is using is UTC which makes sense with AEDT I think which is UTC+11 or 13 hours difference plus a day.

I agree that localtime would be a better thing to be using, and I think that is what touch uses

I guess some users might want UTC so it probably needs a `--utc` flag, or maybe a `--localtime` flag might be better for backw

[2020-03-16 13:35] #4070 closed

[2020-03-16 16:15] naeloob opened #4074 "Enhance Filters : for example Match excluding substrings"
What is your current rclone version (output from `rclone version`)?
rclone v1.51.0

What problem are you are trying to solve?
I'm trying to match a path/filename not having some substrings in order to discard them on filters.
Now you can match substrings but cannot match strings not having certain substrings.

Rclone is using standard golang regex lib, but it doesn't support features like lookahea

[2020-03-16 17:14] fishbullet commented on #3886
@ncw I'm trying this one, ok ?

[2020-03-16 17:16] #4034 closed

[2020-03-16 17:38] MrEmperathor commented on #2871
This application perfectly executes the concept of adding to my unit.
Maybe it can be implemented in rclone.
https://github.com/odeke-em/drive

[2020-03-16 18:32] fishbullet commented on #4034
I've just realized what to do if there are bunch of parameters will be provided with `-` ?
Threre is only one sdtin.

[2020-03-16 18:38] ncw commented on #3411
Files which get written to are in danger on an unclean shutdown.

I just realised rclone could help here by syncing the file so I've added an `fsync` to the config writing procedure which should probable help.  You can find that in [the latest beta](https://beta.rclone.org) in about 30 minutes.

[2020-03-16 18:39] ncw commented on #2092
This is a big project! If someone wants to take it on, I'd recommend a separate repo for the rsync implementation - I can then pull that into rclone.

[2020-03-16 18:47] ncw commented on #1971
It needs a volunteer to add it to  jlaffaye/ftp#29

[2020-03-17 06:17] Sparoney commented on #4067
I think a `--localtime` flag would be a perfect addition

[2020-03-17 10:13] ncw commented on #4034
I've merged this to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

[2020-03-17 10:17] ncw commented on #4074
Can you do the inverse, so match the substrings and include them?

The filters are based on file globs rather than regexps to keep them simple.

So to do this would require

- allowing regexps as filters somehow
- using the alternate regexp library

I did have an idea of another way of doing this by using a filter program which would take filenames on stdin and output them if OK or a blank line if

[2020-03-17 10:53] naeloob commented on #4074
I think i saw on the source that rclone make some strings subs of the filters to convert it to regex.
May be i'm wrong.

What i'm trying is to exclude (filter -) all files that have "Sub1" or "Sub2" or "Sub3" but not have "Sub4" or "Sub5".
Examples :
aaaaSub1bbbbb -> Excluded
aaaaSub4bbbbSub3ccc -> Not Excluded
But i cannot exlude ALL Sub1, neither include all Sub4.

I think that will not work wit

[2020-03-17 12:31] ncw commented on #4067
OK give this a go which has a `--localtime` flag

https://beta.rclone.org/branch/v1.51.0-111-gb1221377-fix-4067-touch-time-beta/ (uploaded in 15-30 mins)

[2020-03-17 14:48] jkmcnk commented on #4070
fwiw, this will be fixed once I get the REST API call for setting mtimes post-upload on Koofr side through the development-testing pipeline. no promises on when this happens, though. ;)

[2020-03-17 18:21] ncw commented on #4074
Rclone does convert the globs to regexp, but there is no way for the user to add regexps at the moment.

It would work wherever filters work now.

[2020-03-17 18:31] naeloob commented on #4074
True, user cannot put regex directly.

Yes, now works, you can use filters with mount. I mean that you cannot get that filelist to filter from a remote without a great impact. And this list won't be dinamic, i mean, is a static list and you will have to umount, get the list and mount again. With the filter it's dinamic, you can up files to the remote and the it will appear, or not, on the filter m

[2020-03-17 19:16] naeloob commented on #4074
- allowing regexps as filters somehow
 - using the alternate regexp library

For the first point i think that you can use the first character to set the lib to use :
+- : Include/Exclude "Globs" String
*/  : Include/Exclude "Re2" String

It will be backguards compatible.

[2020-03-17 23:50] ferferga commented on #4013
@ncw Ooops, thought that I replied before! Yes, of course! Do you want me to test the dedupe thing exclusively, right? I'm copying everything to a new account and starting from scratch, so I will be able to test it in the same environment (or at least, in one 99% similar to it) that caused the removal of the items.

I'm still figuring out a lot of stuff from my collection, so I don't have any news

[2020-03-18 07:26] Dibbyo456 commented on #4068
No, even with own custom client i get this issue sometimes. I am looking into it.

[2020-03-18 13:32] glensc commented on #3815
@ncw: Submitted: https://github.com/rclone/rclone/pull/4077

[2020-03-18 15:25] April-BOY opened #4078 "Supported copy signal file of Google Drive shared link or not"
#### Output of `rclone version`
![image](https://user-images.githubusercontent.com/19245482/76974833-a7c03f00-696c-11ea-8c64-3122fa64e5c5.png)
#### Describe the issue
I had used ‘rclone copyurl’ command to copy a file（not a folder）of Google Drive，but I got a problem.I have no idea how to do with it.Can you give me some suggests?
THE LINK：https://drive.google.com/file/d/1uppQdohmdMYGmPluh2rs9XtzjmO

[2020-03-18 16:39] ncw commented on #3886
Super - thanks :-) . Let me know if you need help.

[2020-03-18 17:43] ncw commented on #4013
@ferferga

Yes please.

Thank you

I'm pretty sure the size thing is fixed now, but more testing always appreciated!

[2020-03-18 21:25] ferferga commented on #4013
@ncw I should test in latest beta, right?

[2020-03-18 23:57] animosity22 commented on #4078
Please don't post links to copyrighted content.

If you have a use case question, please use the forums as this is more for defects/bugs/etc.

[2020-03-18 23:57] #4078 closed

[2020-03-19 01:00] BobVul opened #4079 "Support S3 storage_class on Scaleway"
Scaleway now supports a `GLACIER` storage class: https://www.scaleway.com/en/docs/object-storage-glacier/

Currently, rclone only exposes the `storage_class` s3 config option on [AWS](https://github.com/rclone/rclone/blob/36717c7d9828420b40de2846ea2931e79efc5d55/backend/s3/s3.go#L667) and [Alibaba](https://github.com/rclone/rclone/blob/36717c7d9828420b40de2846ea2931e79efc5d55/backend/s3/s3.go#L697

[2020-03-19 01:02] thestigma commented on #3326
@ncw I think you can close this as your discretion.

I think at this point it is not worth spending effort on fixing the cache-backend when you could rather work on your own VFS cache enhancements.

[2020-03-19 01:03] thestigma commented on #3331
@ncw I think you can close this as your discretion.

I think at this point it is not worth spending effort on fixing the cache-backend when you could rather work on your own VFS cache enhancements.

(this still may be a relevant idea for the new VFS cache to have in mind, but probably better we start that topic anew if it is needed rather than keep this open)

[2020-03-19 01:06] thestigma commented on #3385
@ncw I think you can close this as your discretion.

I think at this point it is not worth spending effort on fixing the cache-backend when you could rather work on your own VFS cache enhancements.

I think this general idea is still highly relevant to the new VFS caching you are working on however - and it is probably something that would not be that hard to implement as it's basically just a lit

[2020-03-19 06:37] Cnly commented on #4062
Capability to list shared files will of course be great and welcome! But AFAIK shared items in OneDrive for Business don't show up in the user's drive root. Does that mean they'll only be accessible when this new flag is supplied?

[2020-03-19 09:54] ncw commented on #4079
Adding a scaleway provider would be easy enough.

Do you want to have a go at this @BobVul

[2020-03-19 10:18] Boxfort commented on #2827
I need this for Ceph so I'm taking a shot at implementing!

[2020-03-19 20:46] ceuk opened #4081 "rclone mount: unable to read obscured config key and unable to delete the temp file"
Helloo, sorry to bother, been trying to fix for days now though and no luck

#### What is the problem you are having with rclone?

Typing e.g. `rclone mount google:notes /media/notes --daemon`

Gives me:

[code]

#### What is your rclone version (output from `rclone version`)
1.51.0

#### Which OS you are using and how many bits (eg Windows 7, 64 bit)
Arch

####  Which cloud storage system are you

[2020-03-20 04:03] ceuk commented on #4081
When I unencrypt my configuration it seems to start working

[2020-03-20 08:05] Dibbyo456 commented on #4068
I finally debugged it.

When we config rclone and choose `OneDrive Personal or Business`, rclone send request to `/me/drives` endpoint. However the `/me/drives` endpoint returns the following response:

[code]
As you can see the actual drive information (documents root) isn't there.

**How to Fix**:

To fix the issue we need to call `/me/drive` instead of `/me/drives` (Note: there is no `s`)

Here

[2020-03-20 08:15] Cnly commented on #4068
@Dibbyo456 Thanks for your time and effort on this! It seems this fix works because `/me/drive` [automatically provisions](https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/drive_get?view=odsp-graph-online#get-current-users-onedrive) the user's OneDrive:

Would you like to open a PR for this?

[2020-03-20 08:20] Dibbyo456 commented on #4068
@Cnly sorry for removing the previous comment I accidentally posted some info which I needed to remove.

Well I can remove `s` but I don't think that is sufficient, because it may need some function to catch the `id`, I don't know golang (although I am learning).

------

**Original comment:** I finally debugged it.

When we config rclone and choose `OneDrive Personal or Business`, rclone send req

[2020-03-20 13:04] #3696 closed

[2020-03-20 13:04] #2721 closed

[2020-03-20 13:05] ncw commented on #2721
I've merged `--track-renames-strategy modtime` to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

[2020-03-20 13:06] ncw commented on #3696
I've merged this to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

[2020-03-20 13:33] MistarMuffin commented on #3696
Thanks, this is a such a huge improvement! I do think I found a bug, though. In my testing, the modtime strategy successfully renamed all of my remote files except for one. I edited the case of local file but otherwise left it's filename the same. rclone performed a full re-upload of this file. When I switched back to a hashed strategy it was able to rename the file on the remote.

Example:
old fi

[2020-03-20 13:41] franzinc opened #4082 "--delete-(before,during,after) options not working"
#### What is the problem you are having with rclone?

Deletions are not happening on the destination.

#### What is your rclone version (output from `rclone version`)

rclone v1.51.0-094-gfdb07f2f-beta
- os/arch: linux/amd64
- go version: go1.14

#### Which OS you are using and how many bits (eg Windows 7, 64 bit)

CentOS Linux release 7.7.1908, 64 bit

####  Which cloud storage system are you usi

[2020-03-20 14:14] ncw commented on #4082
I suspect this is because you are using `--files-from`. Rclone will only consider files in the files from list.

If you want rclone to delete any files which aren't in the `--files-from` list then you need `--delete-excluded` - try with --dry-run first!

What are you trying to achieve with the `--files-from`? How does that list get made?

[2020-03-20 14:22] franzinc commented on #4082
Yep, you're right, I tested a bit more and it is related to '--files-from'.

I had expected it to not take into account the other files on the filesystem when making a delete decision; only those directly involved in the sync.

At anyrate, it looks like using '--delete-excluded' is exactly the change in behavior I want.

Thanks so much for the help! :)

[2020-03-20 14:23] ncw commented on #4068
I'm not sure what is going on here...

Here are the docs for the [/me/drives call](https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/drive_list?view=odsp-graph-online#list-the-current-users-drives) and here are the docs for the [/me/drive call](https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/drive_get?view=odsp-graph-online#http-request) which returns a single drive

[2020-03-20 14:26] Dibbyo456 commented on #4068
Yes, calling both will be the perfect solution.

[2020-03-20 14:26] #4082 closed

[2020-03-20 14:43] ncw commented on #4081
Can you try without --daemon? I think that will probably work

I tried to replicate this locally with ubuntu 19.10 and failed, so I suspect something unique about your setup.

I suspect something is wrong with writing to your temporary directory.  You can try setting a new one with `export TMPDIR=/path` and see if that makes a difference.

[2020-03-20 14:46] ncw commented on #4062
That is the way the equivalent `--drive-shared-with-me` flag works - when you supply it, it only shows shared items. Effectively it is another root for the drive.

[2020-03-20 14:47] ncw commented on #3326
I'll leave it open for the moment as a pointer to others, but yes, at some point I'd like to deprecate cache and close the issues.

[2020-03-20 14:50] ncw commented on #4013
@ferferga can you test this beta?

https://beta.rclone.org/branch/v1.51.0-119-g9fd8418b-fix-4013-dedupe-beta/ (uploaded in 15-30 mins)

[2020-03-20 14:52] ncw commented on #3815
I've merged that now, so I'll close this - thank you :-)

[2020-03-20 14:52] #3815 closed

[2020-03-20 15:45] ceuk commented on #4081
Yeah running without --daemon does the trick, it also works with --daemon after that, I'll just use the TMPDIR workaround if it happens again - cheers :)

[2020-03-20 15:45] #4081 closed

[2020-03-20 16:42] ncw commented on #4082
Be careful with that flag, it is super dangerous! Anyway, glad it is what you wanted.

[2020-03-20 16:49] MistarMuffin commented on #3696
I think you're right. The timestamp looked the same but I did not investigate down to 1ms of accuracy. I ran the normal track-renames afterwards and it synced everything up so I cannot check now. Instead I changed the case on another file and it worked as intended. False alarm. One last question, even though the rename strategy is called "modtime" I assume that it still also takes the filesize int

[2020-03-20 19:23] calisro commented on #4034
works great. thanks!!

[2020-03-20 19:23] Mushin commented on #1505
I'm having issues with differing mod times on a Gdrive crypt and would really appreciate if this could work.

[2020-03-20 23:32] caspertone2003 commented on #3706
nice, any windows port/alternative?

[2020-03-21 03:20] madcatsu commented on #1571
FYI - the on-demand storage product from Storj is now called Tardigrade. GA announcement was made two days ago here: https://storj.io/blog/2020/03/general-availability-for-tardigrade-is-here/

[2020-03-21 11:48] Dibbyo456 commented on #4058
@ncw The issue needs to be reopen. The server side copy does not work on folder is shared.

## What works?

When a specific file is shared with other user, then the server side copy works. Eg:
[code]

## What does not work?

When a directory is shared with other user, then the server side copy does not work. Eg:

[code]

The abvoce command does not do server side copy even though `mydir` from `one

[2020-03-21 12:22] ferferga commented on #4013
@ncw Sure! Will do once I have everything copied over to my new Google Drive account. Should take 1-2 days with my connection.

Thanks!

[2020-03-21 15:49] ncw commented on #4068
@Dibbyo456 do I understand from your forum post that this is no longer an issue?

[2020-03-21 16:15] tYYGH commented on #3997
I made several attempts, and failed :-(
I’m lost in rclone layers: fs, vfs, file, operations… and in rclone file instances: in-memory copy, in-cache copy, remote copy…

I’m only interested in mounted remotes with `--vfs-cache-mode` ⩾ `write`, which should simplify the problem, except I don’t know what code is called on what situation.

Besides, I’m not fully convinced, that using the VFS Statsfs d

[2020-03-21 18:05] ncw commented on #4058
Can you paste logs with -vv with what happens please?

[2020-03-21 18:18] ncw commented on #4034
Thanks to go @fishbullet which I should have said above!

[2020-03-21 18:21] ncw commented on #3696
Yes that is correct (it is in the docs which aren't live yet!)

Note that I found a bug in the modtime strategy so I suggest you try [the latest beta](https://beta.rclone.org)

[2020-03-22 03:12] mspieth opened #4085 "The --no-check-certificate flag is not honored by oauth2 token fetch"
#### What is the problem you are having with rclone?

When configuring a remote for onedrive and using --no-check-certificate, oauth2 token fetch fails with `x509: certificate signed by unknown authority`.

#### What is your rclone version (output from `rclone version`)

master e569977c06972f4dc073c73937acf794a99e77c5

#### Which OS you are using and how many bits (eg Windows 7, 64 bit)

Linux deb

[2020-03-22 03:14] mspieth commented on #4085
Fixed in PR #4084

[2020-03-22 04:35] Dibbyo456 commented on #4058
[code]

Files are large files; 3-4 GB each.

[2020-03-22 04:43] Dibbyo456 commented on #4068
No, this is an different issue. Graph API sometimes unable to return onedrive root document folder, because of the onedrive hasn't provisioned yet or the api sending cached response.

Doing this probably would be the best idea.

[2020-03-22 04:53] NorthIsUp opened #4086 "Add arm docker images"
#### What is your current rclone version (output from `rclone version`)?

all

#### What problem are you are trying to solve?

run rclone on k3s on a raspberry pi cluster

#### How do you think rclone should be changed to solve that?

add arm docker builds

[2020-03-22 05:30] BobVul commented on #4079
I suppose I can give it a shot. Might take a bit, I don't have a Go environment yet, will need to look into that first.

[2020-03-22 09:40] darthShadow commented on #4058
This is probably not related to a folder being copied but the size of the files instead.

The same bug that was being discussed here before the poster disappeared: https://forum.rclone.org/t/problem-copy-from-onedrive-to-onedrive/14603/20

@Dibbyo456 Would you mind trying to copy a folder containing smaller files and see if that works fine?

Also, would you try the same copy with a higher `--timeo

[2020-03-22 11:16] Dibbyo456 commented on #4058
I tried to server side copy a folder with small size files and it worked fine. So, nothing wrong with Rclone, it's the OneDrive which taking a lot of time to copy. (it sucks)

[2020-03-22 12:08] ncw commented on #4086
Sounds like a good idea! How is it done? Any idea? The builds are auto built by docker hub.

[2020-03-22 12:09] ncw commented on #4079
Great! Let me know if you get stuck.

[2020-03-22 12:24] ncw commented on #4068
I had a go at this - can you have a try?

If you run `rclone config -vv --dump bodies` it will show you the http transactions - please send that if it doesn't work!

https://beta.rclone.org/branch/v1.51.0-126-g7bf37666-fix-4068-onedrive-drives-beta/ (uploaded in 15-30 mins)

[2020-03-22 12:28] #4085 closed

[2020-03-22 12:28] ncw commented on #4085
Thanks for fixing this :-)

I've merged this to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

[2020-03-22 16:01] Dibbyo456 commented on #4067
Since the OP did not provide any feedback, I deiced to try it myself. **It works**. 👍

[2020-03-22 16:44] darthShadow commented on #4058
Google is pretty instant, I think, because they just hard link to a new file, instead of a full copy. Based on the time taken, it looks like Microsoft is actually doing a full copy but even so, that's an awful amount of time taken to copy only 3.5 GB.

[2020-03-22 16:50] darthShadow commented on #4058
Google also used to time-out earlier when it was actually copying the file (because of a change in mime-type) and the current behaviour is to not change the mime-type, resulting in hard links, I think, instead of actual copies.

I wonder if there is something similar that may be possible in OneDrive too... Would you mind experimenting with the API and see if adding or skipping any parameter speeds

[2020-03-22 18:42] dmotte opened #4087 "sftp: check fingerprint of remote server"
#### What is your current rclone version (output from `rclone version`)?

rclone v1.51.0
- os/arch: windows/amd64
- go version: go1.13.7

#### What problem are you are trying to solve?

As pointed out [here](https://forum.rclone.org/t/check-sha256-remote-sftp/13378), rclone does not check if the server fingerprint has changed, so it is possibile to easily perform man-in-the-middle attacks on an **

[2020-03-22 20:02] nickh13 commented on #4031
I have the same problem (all the same, but Windows7/2008R2 x64).
I try 1.51, 1.50 ,1.49 - it's not work.
But then I try 1.48 - it's working!
I try use FAR Manager or Windows Explorer, it does not matter.
Winfsp 2019.1...

... But then I reinstall WinFsp to latest v.16 (2020) everything started working fine with rclone 1.51 !

Thanks for your issue, while I wrote this answer, while digging through

[2020-03-23 12:13] ncw commented on #4058
Foo - not a lot rclone can do about onedrive being slow alas.

32 minutes to copy a 3.5 GB file is 1.8 MB/s!

I'll close this again since rclone at least seems to be working!

[2020-03-23 12:13] #4058 closed

[2020-03-23 17:09] ncw commented on #4087
What do you think rclone should do if the hash has changed?

Do you want to work on implementing this?

[2020-03-23 17:13] #4067 closed

[2020-03-23 17:14] ncw commented on #4067
Thanks for testing @Dibbyo456 ! I've merged this to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

[2020-03-23 17:14] ncw commented on #4031
Hmm... Have you got a recipe for reproduction?

[2020-03-23 17:33] dmotte commented on #4087
Unfortunately i never wrote a Go program in my whole life... I am willing to learn in the future :wink:

Anyway, i think that if the hash has changed, rclone should print an error on stderr and fail. To better clarify this, look at the error message printed out by the standard openssh-client when this situation occurs:

![known_hosts](https://user-images.githubusercontent.com/37443982/77345020-5af

[2020-03-23 20:32] antibill51 commented on #4064
This error remains :
HomeAssistant/audio/internal/pulse.sock: Can't transfer non file/directory

I exclude pulse.sock without success.

[2020-03-24 02:53] Dibbyo456 commented on #4068
Fixed. 👍

![](https://i.imgur.com/pjm8aoV.png)

[2020-03-24 04:52] Sparoney commented on #4067
So sorry I didn't get to test this. My apologies. Thank you heaps for implementing this :)

[2020-03-24 08:44] #4068 closed

[2020-03-24 08:45] ncw commented on #4068
Thanks for testing :-)

I've merged this to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

[2020-03-24 08:50] ncw commented on #4087
OK no probs and thanks for looking up the ssh behavior :-)

[2020-03-24 08:53] ncw commented on #4064
That is just a NOTICE not an error so the sync should complete OK.

This doesn't work at the moment because the excludes are done in a layer above the directory listings.

[2020-03-24 09:58] ncw opened #4088 "union: integration test failures"
There are a few integration test failiures for the new union backend: https://pub.rclone.org/integration-tests/current/

![image](https://user-images.githubusercontent.com/536803/77412584-fbd88280-6db5-11ea-964f-6bc91b730ad1.png)

Have you got time to take a look @Max-Sum ? Thanks

[2020-03-25 05:44] Dibbyo456 opened #4089 "Make Insufficient Storage response to be fatal for OneDrive"
While I was syncing 50TB+ data on 5TB OneDrive remote, I noticed that Rclone keep trying to copying files one by one even though Graph API was sending HTTP status code 507 (Insufficient Storage).

Kindly make this fatal, so Rclone don't retry further.

Complete errors list: https://docs.microsoft.com/en-us/onedrive/developer/rest-api/concepts/errors?view=odsp-graph-online

[2020-03-25 05:48] Dibbyo456 commented on #3979
@BinsonBuzz Did you managed to test it? Does it work?

[2020-03-25 07:03] BinsonBuzz commented on #3979
Sorry no.  I changed the way I do my backup to using chunks now with duplicati, so I'm nowhere near the 400k mark now.

[2020-03-25 10:53] ncw commented on #3979
Anyone want to pick this up?

[2020-03-25 10:54] Dibbyo456 commented on #3979
I will send a PR tomorrow.

[2020-03-25 10:59] ncw commented on #4089
The error looks easy to parse which is good!

Fancy haveing a go at this?

It should be a matter of adding another `case 507:` here

https://github.com/rclone/rclone/blob/d9c8c47e028a1f90f671f7eb335e92112a56ee83/backend/onedrive/onedrive.go#L426

and returning the error wrapped in a Fatal error, something like this

[code]

[2020-03-25 15:29] davidhewitt opened #4091 "Box: "Enterprise" box_sub type does not refresh token"
#### What is your current rclone version (output from `rclone version`)?

rclone v1.51.0

#### What problem are you are trying to solve?

I have a Box app, with a `config.json` downloaded for that app.

I can authenticate with `rclone config`, setting the `box_sub_type` to `enterprise` and providing the path to the config.json. `rclone` successfully authenticates and stores a config entry similar

[2020-03-25 17:27] antibill51 commented on #4064
Thanks, but the exit code wasn't "0" and docker container rclone-PCloud unexpectedly stopped.
Can't I fix it?

[2020-03-26 01:36] NorthIsUp commented on #4086
Probably need to make another docket file that starts with `FROM alpine:arm` or something similar.

[2020-03-26 14:39] Friday13th87 commented on #4002
and i am having the same issue on google drive move (not encrypted).
Speed goes to zero after reaching the max time and is not finishing

[2020-03-26 15:22] kolt54321 opened #4093 "rClone NCDU "delete" not working with --drive-shared-with-me flag"
#### What is the problem you are having with rclone?

First of all, thanks so much for all your work! rClone is an amazing tool :)

Previously, I [reported a bug](https://github.com/rclone/rclone/issues/3622) where Shared Drive files in the "Shared with me" folder (accessible through --drive-shared-with-me) couldn't be deleted, through Google Drive UI, rClone, or otherwise.

I just discovered a sl

[2020-03-26 16:10] ncw commented on #4093
I think this is probably the same issue as #3622 - what do you think?

[2020-03-26 16:19] #3979 closed

[2020-03-26 16:19] #4089 closed

[2020-03-26 16:20] ncw commented on #4089
I've merged this to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

[2020-03-26 16:20] ncw commented on #3979
I've merged this to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

[2020-03-26 16:26] kolt54321 commented on #4093
Perhaps the solution can be the same, but the difference between the two issues is that the failure is not reliant on a file being a "Shared drive" file. I don't know how it works in the backend, but I previously gathered that "Shared drive" files have a specific attribute in place preventing them from being deleted. Now I'm thinking it has to do with the file being in the --drive-shared-with-me f

[2020-03-26 17:16] ncw commented on #4064
The error is

    2020/03/12 18:10:18 ERROR : HomeAssistant/addons/local/addons: Listing error: symlink: stat /nas/HomeAssistant/addons/local/addons: no such file or directory

That is a dangling symlink...  So you could fix that or use `--ignore-symlinks` or use `-l` to copy the contents of the symlinks instead of the contents of the files.

[2020-03-26 17:21] ncw commented on #4091
I don't know very much about this...

@dbramwell you contributed the original code for this - is it working OK for you?

[2020-03-26 18:08] antibill51 commented on #4064
All other errors are fixed. The notice is the only one but docker exit with error

[2020-03-26 18:38] dbramwell commented on #4091
When using the box config.json we don't get a refresh token back, so the usual way of refreshing doesn't work. We've been getting round it by automating the rclone config step as well and running that before each rclone box command.

Having rclone automatically ask for a new token using the config.json seems reasonable to me. If someone then removed the config file then rclone would be unable to g

[2020-03-27 05:24] sherlock99 opened #4094 "x-amz-meta-md5chksum of S3 for Tencent COS"
#### Output of `rclone version`
rclone v1.51.0
- os/arch: linux/amd64
- go version: go1.13.7

#### Describe the issue

I use rclone copy -c from a ftp to aws S3. But I can not see any metadata of the files in S3.
I need all the files uploaded to S3 with x-amz-meta-md5chksum, How can I make this happen?
Both big files and small files.

Thanks in advance.

[2020-03-27 10:17] negative0 commented on #4086
According to the link here, https://hub.docker.com/_/alpine, it should be `FROM arm64v8/alpine:3.7` OR `FROM arm64v8/alpine:latest`

[2020-03-27 15:15] Friday13th87 opened #4095 "Files not correctly moved to Teamdrive"
#### What is the problem you are having with rclone?
Moving Files to TeamDrive is not working from time to time and the files are gone afterwards

#### What is your rclone version (output from `rclone version`)
rclone v1.51.0
- os/arch: linux/amd64
- go version: go1.13.7

#### Which OS you are using and how many bits (eg Windows 7, 64 bit)
Debian Buster stable

####  Which cloud storage system are

[2020-03-28 19:00] BlakeMcMurray commented on #3643
Hello,

I am likewise having issues here.  When I run rclone config, I attempt to set up google drive with all default conditions, and at the end of the process, receive the following error:

Failed to save config after 10 tries: Failed to create temp file for new config: open /Users/blakemcmurray/.config/rclone/rclone.conf458369007: permission denied

However, when I try to visit the file (/Users

[2020-03-28 22:41] BlakeMcMurray commented on #3655
Hello,

I am likewise having issues here. When I run rclone config, I attempt to set up google drive with all default conditions, and at the end of the process, receive the following error:

Failed to save config after 10 tries: Failed to create temp file for new config: open /Users/blakemcmurray/.config/rclone/rclone.conf458369007: permission denied

However, when I try to visit the file (/Users/

[2020-03-29 05:29] arkadyt commented on #1824
Hey @ncw,

Does turning off the checksum verification with `--ignore-checksum` mean that data integrity won't be verified after upload? Or is it something that **rclone** does _in addition_ to an existing mechanism provided by operating system / hardware? Like TCP packet integrity checks? (Is that even a thing by the way?).

Seems like a quite important feature to lose.

[2020-03-29 06:17] arkadyt commented on #1824
@ncw, Okay so that seems to be a thing. [TCP packets are indeed verified for integrity.](https://en.wikipedia.org/wiki/Transmission_Control_Protocol#Error_detection) Assuming that HTTP is used for data transfer (rclone uses s3 REST API right?) there is protection from data corruption in transfer (HTTP sits on top of TCP).

Then what does **rclone** use md5 hashes for?

[2020-03-29 12:40] ncw commented on #1824
For doing whole file data integrity checks.

[2020-03-29 13:10] ncw commented on #3643
Check the ownership of `/Users/blakemcmurray/.config/rclone` it should be owned by you, not root

[2020-03-29 14:38] Friday13th87 commented on #4095
I was updating to the latest beta version and had no issues since then.
maybe it was the "--drive-stop-on-upload" flag which was changed or its because i am using the new soft cutoff method now... i dont know but as i said, i hade no issues since then
thanks for your great work

[2020-03-29 18:13] Dibbyo456 opened #4097 "vfs: option to cache only metadata (obsolete)"
**Update by ivandeex:**
This description is outdated.
See https://github.com/rclone/rclone/issues/4097#issuecomment-798190622 and https://forum.rclone.org/t/how-to-cache-only-metadata-on-cache-remote/14846/5

[code]

[code]

Instead of doing server side copy, Rclone doing normal copy.

# Update:
Running the following command throwing errors.
[code]

[code]

[2020-03-29 19:04] BlakeMcMurray commented on #3643
Thank you very much.  Everything is working now.  What a hassle to change ownership though on macOS sierra...

[2020-03-29 20:32] manipulator01 commented on #1824
Excuse my ignorance but I am not sure if I understood it properly..

if I use --ignore-checksum flag for my s3 sync job, rclone will NOT validate integrity of my files, is that right?

In other words, I will NOT know if the files transferred properly and I won't be able to trust those backups, right?

note: I use s3 with server-side encryption enabled.

[2020-03-30 00:40] Friday13th87 commented on #4097
why are u using fast-list / tpslimit / drive-stop-on-upload when u are trying to do a serverside copy?
for me it is working actually and i am working without those options as they are designed for no-server-side copys for my understanding

[2020-03-30 01:03] Friday13th87 commented on #2672
i was using the cutoff method in the latest beta version and if i am using soft cutoff and have 3 transfers for example, it will wait till one of those is finished (soft cutoff) and will hard cutoff the other transfers.
if i am using --transfers 1 it is working as it should (as there is nothing to hard cutoff if the only transfer is finished)

[2020-03-30 04:36] Dibbyo456 commented on #4097
@Friday13th87 Can you try with those flags?

[2020-03-30 05:01] arkadyt commented on #1824
@manipulator01 with that flag yes, rclone won't do an md5 check.
However you will still have some reassurance that files were not corrupted since network TCP packets are separately checksum verified as well (by different software, layer 4 of OSI).
I guess higher level software like rclone do checksum verifications in addition to that, for complete reassurance.

[2020-03-30 05:44] Dibbyo456 commented on #4097
Rclone simply gonna ignore `fast-list` and `tpslimit` flags, but `drive-stop-on-upload` is necessary for me.
If I run commands without those I get some errors, which I have updated on the original post.

[2020-03-30 10:09] ferferga commented on #4013
@ncw So I finally have all my files sorted out and, luckily, I'm able to reproduce the exact same situation.

Running ``rclone dedupe --dry-run GoogleDrive:`` in 1.51.0 effectively returns the same files that were deleted the first time. Using your beta, however, returns no results. I tested adding a duplicate one in purpose and it did, so it seems that everything is correct if you also check the

[2020-03-30 10:09] #4013 closed

[2020-03-30 10:17] ferferga opened #4098 "Support new Google Drive shortcuts"
So it seems that Google Drive finally deprecated the "Add to My Drive" option and replaced it with a better feature: shortcuts.

Currently, rclone ignores them completely.

There is more information about it in [the GSuite blog](https://gsuiteupdates.googleblog.com/2019/08/drive-shortcuts-beta.html), as the feature first rolled out to GSuite customers, but now is being [rolled out to all the accou

[2020-03-30 11:05] ncw commented on #2672
@Friday13th87 do you think this is related to https://github.com/rclone/rclone/issues/4002 ?

[2020-03-30 11:07] ncw commented on #4095
I'd be really suprised if the files were missing completely.

Sometimes teamdrives take a while to catch up with their directory listings - how does it look now?

[2020-03-30 11:08] ncw commented on #4094
For files without x-amz-meta-md5chksum the Etag contains the md5 checksum.

You can use `rclone md5sum` to read the md5sum from either.

[2020-03-30 11:20] sherlock99 commented on #4094
In fact I am using Tencent Cloud COS for this situation. For Tencent Cloud COS, the Etag is not the md5 checksum. So I need the x-amz-meta-md5chksum attached when files are uploaded.

[2020-03-30 15:28] ncw commented on #4091
The box backend knows when the token expires - this bit of code gets called. We store the location of the `config.json` in the configuration file so we should have everything we need to auto renew.

https://github.com/rclone/rclone/blob/1af9fcbbfae66fc0de0aa44eb2dd3d8c3b185321/backend/box/box.go#L396-L400

Do you fancy having a go at this @dbramwell ?

[2020-03-30 15:30] ncw commented on #4064
Can you try without docker? If there are no ERROR statements in the log then rclone shouldn't be exiting with an error. If you could attach a complete log that would be helpful too --thanks.

[2020-03-30 15:31] ncw commented on #4093
This is linked to the other issue now, so hopefully fixing one will fix both!

[2020-03-30 18:59] dbramwell commented on #4091
I was having a look the other day but found it quite hard to follow. I'll give it a go but will probably be back with questions.

[2020-03-30 21:14] Nihim opened #4099 "GDrive folder mtime (see #1669)"
I am referring to [#1669](https://github.com/rclone/rclone/issues/1669) but wasn't sure whether I should post in there as this is just a small / ugly? hack.

disclaimer: no idea how easy/hard to implement what I am going to suggest is.

As a small bypass of the problem (till the proper solution is implemented) when gdrive is mounted  rclone could either

- for every dir in the remote find the file

[2020-03-30 22:19] Friday13th87 commented on #2672
no i dont think so, as the behavior is completely different.
the cutoff is just not waiting for the end of all active transfers, its just waiting for one existing transfer to finish

[2020-03-31 10:53] ncw commented on #4013
@ferferga thanks for testing. I found the exact cause of the bug eventually and it was fixed (unintentionally) by dfc7215bf9b7840f438d006bf7b399974f5ebf42 which is in the current beta. The bug was causing duplicates of files with multiple parents to appear which would also have affected `rclone size`.

I don't think I need to merge the fix in `fix-4013-dedupe-beta` as it only kicks in when files h

[2020-03-31 11:08] ferferga commented on #4013
@ncw You're right: It seems that the dedupe problem was caused because my files had multiple parents. So it's solved without merging that specific commit.

However, I'm not that against merging it. Basically because it's a great safeguard for unintended bugs like the one I suffered (which was completely unrelated to dedupe) and it shouldn't be expensive to check (afaik, Google returns the MD5, nam

[2020-03-31 11:39] ncw commented on #4097
It is the setting of `chunk_size = 0` which is causing this problem.

I'm not sure that is a valid value?

[2020-03-31 11:42] Dibbyo456 commented on #4097
It's done on purpose. I wants to cache metadata only, [already discussed](https://forum.rclone.org/t/how-to-cache-only-metadata-on-cache-remote/14846) in forum.

[2020-03-31 11:44] ncw commented on #4097
Ah OK. I'm not sure that is a valid assumption though... Fancy having a rootle through the cache backend code and confirming or denying that? https://github.com/rclone/rclone/tree/master/backend/cache

[2020-03-31 12:16] Dibbyo456 commented on #4097
[code]
Hmm. Rclone crashes because it was trying to divide 0 with 0. on `handle.go` [line 208](https://github.com/rclone/rclone/blob/master/backend/cache/handle.go#L208). Actually you already [mentioned this](https://forum.rclone.org/t/how-to-cache-only-metadata-on-cache-remote/14846/18?u=harry).

[2020-03-31 16:44] ncw commented on #4099
That is probably not too difficult provided you only wanted to fix rclone mount. This would be a patch to the VFS layer which would find max(mtime) of all the objects in a directory and use that for the directory mtime.

Do you want to have a go at this?

[2020-03-31 16:45] ncw commented on #4091
Sounds great @dbramwell ! Ping me here if you need any help - thanks.

[2020-03-31 17:00] ncw commented on #4013
@ferferga OK I reworked the test after working out it didn't work for docs and I've merged that. I've also merged a fix where rclone refuses to delete multiply linked files as doing so is very likely to cause data loss. This would have stopped this problem too.

I've merged this to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

[2020-03-31 17:08] ncw commented on #4094
I see.

That would be quite easy to do - if you changed that if to be unconditional it would probably do what you want.

https://github.com/rclone/rclone/blob/ff0a299bfb4bbe9abb11b3f9dfdcf91a2a88b59c/backend/s3/s3.go#L2332-L2334

What do ETags look like on Tencent Cloud COS?

Maybe the thing to do would be to make a `Tencent` provider? It could provide that work around and make some configuration

[2020-03-31 17:10] ferferga commented on #4013
Those commits looks great, even more now than Drive is now using shortcuts. They will help a lot at easing the transition! Thank you very much @ncw!

[2020-03-31 17:13] Skylion007 commented on #4087
@ncw No need to reimplement the wheel here. Golang already provides method to parse / update the known_hosts SSH file in the SSH package: https://godoc.org/golang.org/x/crypto/ssh/knownhosts

[2020-03-31 17:13] ncw commented on #4098
Shortcuts are currently missing from the Go SDK.  I made an issue about that here: https://github.com/googleapis/google-api-go-client/issues/464 then another issue here: https://issuetracker.google.com/issues/152865050

As soon as shortcuts hit the Go SDK then I can implement them!

In the mean time, let's discuss how they should work.

I propose that by default
- shortcuts should be de-referenced

[2020-03-31 18:22] nickh13 commented on #4031
Windows 7/2008R2 x64
RClone 1.51
Winfsp v.16 (2020)

[LocalEncryptedBackup]
type = crypt
remote = E:\LocalEncryptedBackup
filename_encryption = standard
directory_name_encryption = false
password = ***************
password2 = ***************

C:\tools\rclone.exe --vfs-cache-mode=writes mount LocalEncryptedBackup: z:

[2020-03-31 18:37] rodrigorrm commented on #4062
Hi, hello guys, just for information.. is this feature being constructed? We need it real bad here.

[2020-03-31 21:49] nickh13 commented on #4031
When I mount a drive without caching, when I try to copy to a mounted drive using FAR, the system asks for administrative rights, although the mount itself was started without them.
In this case, these errors come out:

The service rclone has been started.
2020/04/01 00:43:36 ERROR : 123/track_1.mkv: WriteFileHandle: ReadAt: Can't read and write to file without --vfs-cache-mode >= minimal
2020/04/

[2020-03-31 22:11] nickh13 commented on #4031
And when I try to mount with the parameter  --vfs-cache-mode=minimal
That such errors are issued here:
The service rclone has been started.
2020/04/01 01:08:09 ERROR : 123/1.zip: Failed to copy: corrupted on transfer: MD5 crypted hash differ "29d6cb7890bbb8328f0d2a7c596981a7" vs "8239aae4e224cdc677a6c6fb04924b21"
2020/04/01 01:08:09 ERROR : 123/1.zip(0xc00006c900): failed to transfer file from cac

[2020-03-31 22:22] nickh13 commented on #4031
RClone 1.48 works fine with caching (no errors)

Errors appear without caching, but everything works.

The service rclone_1.48.0 has been started.
2020/04/01 01:15:21 ERROR : 123/1.zip: WriteFileHandle: Truncate: Can't change size without --vfs-cache-mode >= writes
2020/04/01 01:15:37 ERROR : 123/track_1.mkv: WriteFileHandle: Truncate: Can't change size without --vfs-cache-mode >= writes

At diffe

[2020-03-31 22:46] heikobornholdt opened #4100 "Add support for explicit FTP over TLS"
The FTP backend currently does not support explicit FTP over TLS for accessing existing servers.

Update:
Unfortunately, the used FTP client library [does not support](https://github.com/jlaffaye/ftp/issues/162) this feature at the moment.

[2020-04-01 02:47] Jamesernator commented on #4046
I am also having issues with `ENOENT` in an rclone mounted drive, e.g. running this C program inside an rclone mounted drive produces ENOENT:

[code]

Other mounted drives don't seem to suffer the same issue, for example using Nautilus's `webDAV` mounting works fine for getting the cwd.

`pwd` behaves as per usual in the rclone mounts.

[2020-04-01 07:34] anacrolix opened #4101 "anacrolix/dms license violation"
I recently received https://github.com/anacrolix/dms/issues/73#issuecomment-606762705 to anacrolix/dms, and in following the link to https://github.com/rclone/rclone/blob/66e08e0cc8972000d84a61f262286f5644d9fdee/cmd/serve/dlna/cds.go found the code to be remarkably familiar. I see that this was copied in https://github.com/rclone/rclone/pull/2648. I believe the BSD 3-Clause license allows modifica

[2020-04-01 11:02] ncw commented on #4101
Thanks for pointing out the licence oops! Will fixup ASAP!

@nicolov I think this was imported by you originally wasn't it?

@sretlawd I think you've made improvements to this - what do you think about upstreaming them?

Thanks

[2020-04-01 11:07] ncw commented on #4046
@Jamesernator I tried to replicate that but I couldn't. Can you please make a [new issue on github](https://github.com/rclone/rclone/issues/new/choose) with full details of your mount, OS etc and I'll investigate further - thanks

[2020-04-01 11:11] ncw commented on #4100
There seems to be some work going on here: https://github.com/jlaffaye/ftp/pull/168

[2020-04-01 11:15] ncw commented on #4062
We are currently looking for a volunteer to implement - maybe that could be you @rodrigorrm
?

[2020-04-01 11:22] ncw commented on #4097
Do you think setting [chunk_total_size](https://rclone.org/cache/#cache-chunk-total-size) might be a better way of achieving this?

It seems that cache needs fixing up if `chunk_size = 0`

[2020-04-01 11:45] Dibbyo456 commented on #4097
My main goal is to do server side copy with the help of cache (as [suggested](https://forum.rclone.org/t/possible-let-rclone-save-resume-some-task-status/12663/2?u=harry) by you). If I use `cache-chunk-total-size` then isn't rclone gonna download chunks and uploads chunks? I think then server side copy won't work. I am testing it, will update if it works.

[2020-04-01 13:04] renox92 commented on #2675
And thanks to google that is no longer an option now...

[2020-04-01 17:22] Nihim commented on #4099
I have zero go experience and not much free time, though it's evident you have even less free time with the sheer amount of requests :) Point me in the right direction and I 'll see if I can _go_ at it

[2020-04-01 20:22] trumblejoe opened #4103 "Mount Process Hang when a Union Directory is mounted back on-itself with Union Remote"
I am unable to replicate this with the latest beta. Rclone is unable to be updated when a current rclone process is running (or hung!).

#### What is the problem you are having with rclone?
I have the following set-up.
remote:
/LocalFolder
UnionRemote: (remote: & /LocalFolder)

Because I am an idiot, I mounted the UnionRemote: on /LocalFolder and the process hung in Uninterruptible Sleep. If I clo

[2020-04-01 21:47] nicolov commented on #4101
Sorry for the license oversight, and thanks a lot for your efforts.

Yes, I did import the code originally to get streaming to work, but haven't made any of the improvements. Can I help out somehow?

[2020-04-02 04:54] dooven commented on #3630
I'd like to tackle this one if no one has yet.

[2020-04-02 05:23] Jamesernator opened #4104 "getcwd syscall does not work in rclone mounted drives"
#### What is the problem you are having with rclone?

Programs that use the `getcwd()` syscall fail when inside an rclone mount with `ENOENT`.

For example I go into a rclone mounted drive `cd ~/dropbox/Documents`, then run something like `node -p "process.cwd()"`, this fails with `ENOENT`.

I even made a basic C script with nothing but the syscall:

[code]

Which also fails, so this confirms it's

[2020-04-02 05:26] Jamesernator commented on #4104
Doing a tiny bit more digging, it seems that it works okay when running in a `bash` shell for some reason?

e.g. `node -p 'process.cwd()'` succeeds when run in bash but not in zsh.

[2020-04-02 05:52] hardlick commented on #4098
+1

[2020-04-02 10:50] bebosudo commented on #2620
I was bitten by this same bug, and I've discovered it once we've already moved several TBs.
Here's a repro:
[code]

[2020-04-02 19:01] ferferga commented on #4098
@ncw That's the best way to go in my opinion as well.

[2020-04-02 21:42] ncw commented on #4104
I've been trying to replicate this using ubuntu 19.10 with zsh and it is stubbornly refusing to go wrong!

Which kernel are you using? I'm using `5.3.0-42-generic` with zsh 5.7.1-1ubuntu2.

Can you strace your C program going wrong for me?

Is there anything else about your system which is unusual?

[2020-04-02 21:43] ncw commented on #3630
@dooven wrote:

That would be great - thank you :-)

[2020-04-02 21:49] ncw commented on #4103
You are probably right. That function was put in as part of #2905 which describes a similar hard hang.

Fixing this would be quite hard I think as getting the info out of the Union backend could be quite tricky...  You can use the `--allow-non-empty` flag or my recommended approach - don't do that!

(I've locked up my machine more times than I care to remember messing around with FUSE filesystems!

[2020-04-02 21:52] Jamesernator commented on #4104
Kernel on main machine is: `5.3.0-45-generic`
Also affects my other machine which is: `5.3.0-42-generic`

Only thing I can thing of in common that might be significant is they both have LUKS encrypted file systems.

Here's an `strace` of `cwd`:

[out.log](https://github.com/rclone/rclone/files/4423923/out.log)

[2020-04-02 22:14] kenneyfortressiq commented on #2314
# rclone works
$ rclone version
rclone v1.51.0
- os/arch: darwin/amd64
- go version: go1.13.

[2020-04-02 22:30] trumblejoe commented on #4103
Can you not poll the config for the remote names?

On Thu, Apr 2, 2020, 5:49 PM Nick Craig-Wood <notifications@github.com>
wrote:

[2020-04-03 09:32] ncw commented on #4099
:-)

This would be the function to start in

https://github.com/rclone/rclone/blob/3911a4925690da4d249aa527533059cd489ceb7c/vfs/dir.go#L273

Query each object with `.ModTime()` and set the directory time to the maximum of that.

I'll note that
- this must obey the `vfs.Opt.NoModTime` flag - reading the modtime is expensive for some backends, actually maybe it will just be gated by the next point
-

[2020-04-03 09:34] ncw commented on #4103
Yes that is possible, but what if a crypt wraps a local directory, or a crypt wraps a union which wraps a local directory, etc, etc. There are myriad ways of shooting yourself in the foot :-)

[2020-04-03 09:36] #3762 closed

[2020-04-03 09:37] ncw commented on #3762
The `--files-from-raw` flag has been merged to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

Thank you @ankur0493 for implementing this :-)

[2020-04-03 16:57] abrar-hnxlabs commented on #4091
@dbramwell  any ETA on this fix, I am also getting this error, I could also look into the code and fix this if you havent started yet.

[2020-04-03 17:25] dbramwell commented on #4091
Hey @abrar-hnxlabs. I've not started yet, was hoping to have a go this weekend, but I'm unable to give an ETA. If you have the time then please give it a go! In the mean time, you probably already know this, but rclone config can be run without user interaction:
`rclone config create box box box_config_file /path/to/config.json`

That's what I've been using in automated scripts to refresh the toke

[2020-04-03 17:53] abrar-hnxlabs commented on #4091
thanks @dbramwell  , this is very helpful and works for now as a work around the exact cmd i had to use was this
`rclone config create box box box_config_file /path/to/config.json box_sub_type enterprise`

we ran into another issue , where our sync job actually takes more than 1 hr , so the token does expire within 1 hr and does not renew within the sync job and exits with an error.

[2020-04-03 21:09] dbramwell commented on #4091
@abrar-hnxlabs glad it helped. Not sure what the solution is to the sync job issue, I imagine even with the fix to have rclone refresh the token you would still have this issue? I'm not exactly sure how sync works. It'd be good if the token expiry time was configurable within box

[2020-04-04 00:05] saward commented on #3932
Hi!  Turns out we didn't need this when we replaced existing sync tool with rclone.  Rclone wasn't doing a copy to temporary file and then rename, and so the issue with lack of posix rename didn't crop up.

Would you like this issue closed?

[2020-04-04 01:33] kultigspritzig commented on #4021
I decided to go with chunker enabled after all due to a lot of my bigger uploads running out of the 24h window for token upload. I immediately run into the same issue. Therefore the problem here is that I cannot enable chunker for an en existing endpoint.

[2020-04-04 07:46] coou commented on #3709
I know this has been merged, but I think one of the requirements that is related to this feature request, is to be able to read from multiple gdrive remotes synchronously to split per-user quotas per client, over multiple oauth sessions accessing the same file - while I see union being useful for multiple writes in its versatility, I do not believe the best solution to improve quota management for

[2020-04-04 10:16] Zvezdin opened #4106 "Automatically clean up OneDrive file versions"
#### What is your current rclone version (output from `rclone version`)?
1.51.0

#### What problem are you are trying to solve?
[It is documented](https://rclone.org/onedrive/) that onedrive creates multiple versions of the files uploaded through rclone, using double or even more of the storage quota. The rclone docs mention that this is only a problem with `rclone copy`, however I just did an `rc

[2020-04-04 15:47] dbramwell commented on #4091
@abrar-hnxlabs I've given it a go in [pr 4107](https://github.com/rclone/rclone/pull/4107). It works, but I'm not sure it's the best implementation. Looking at the way token refreshes work I think it would fix your sync problem too

[2020-04-04 20:54] aetonsi opened #4108 "mega shared folder user cannot see files uploaded with rclone"
#### What is the problem you are having with rclone?
i upload files with rclone to a mega folder. this mega folder is currently shared with another user with "full access" permission.
files uploaded via rclone are unaccessible by the other user. i can see the correctly, i can `rclone ls` them, but the other user can't.
he just sees a "NO_KEY" file **instead** of each file or folder uploaded with r

[2020-04-04 21:04] aetonsi commented on #4108
This **might** be correlated to #2709

[2020-04-04 22:36] deflax commented on #3990
It does happen to me too on each attempt to use it. Ive notice it by comparing the total number of files in the dir im trying to sync and what backblaze count as rclone skips file deletion on errors.

`

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26

2020/04/04 22:31:33 DEBUG : >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
2020/04/04 22:31:33 DEBUG : HTTP REQU

[2020-04-05 03:49] guohaiping commented on #2675
Cannot add the shared folder to my drive now

[2020-04-05 04:34] renox92 commented on #2675
Turns out there's also Shift+Z that can do that and it still works, for now.

[2020-04-05 07:31] guohaiping commented on #2675
Shift+Z solved my problem， thanks

[2020-04-05 08:20] moust4ki commented on #3937
Same issue for me under Ubuntu: Have a VFS plex share and have a constant I/Owait of 10-15% since i'm on 1.51.
i7 7700 and NVMe.

[2020-04-05 10:45] ankur0493 commented on #4079
@BobVul Have you started working on this? If not, I can give it a shot. I haven't worked with Scaleway, but integrating with a SDK should be easy.
Their GO SDK seems to still be in beta: https://github.com/scaleway/scaleway-sdk-go

@ncw  Should we wait until they come out with a GA release?

Also, with which email ID do we register for API keys?

[2020-04-05 10:48] ankur0493 commented on #4057
@ncw Is anyone working actively on this issue?

[2020-04-05 10:52] ankur0493 commented on #3386
https://github.com/keybase/go-keychain is only for macOS and Linux whereas https://github.com/zalando/go-keyring supports windows as well.

[2020-04-05 10:57] ankur0493 commented on #3222
@ncw Do we still want to do this? I can pick it up if it is planned for any upcoming release (I do not see any release milestone yet).

[2020-04-05 11:06] BobVul commented on #4079
Unfortunately haven't had a chance yet. It's been a surprisingly busy couple weeks.

I was intending to just pass extra options via a specialisation of the s3 provider, the same way Amazon and Alibaba have them e.g. https://github.com/rclone/rclone/blob/36717c7d9828420b40de2846ea2931e79efc5d55/backend/s3/s3.go#L667

Wasn't intending to integrate a new SDK.

[2020-04-05 11:29] ankur0493 commented on #4079
But in order to that, you have to have a `safeway` backend first. Unless I am missing something.

[2020-04-05 12:06] ncw commented on #3932
Thanks for the update!

I'll leave the issue open just in case anyone has any other problems with it and fancies having a go at the changes.

[2020-04-05 12:11] ncw commented on #4104
My machine is `5.3.0-42-generic` and is also running on LUKS encrypted file system.

What about zsh version?

Do you have lots of stuff in your zsh rc?

I'm starting a zsh from bash by typing zsh - is that OK?

Maybe you could try reproducing this in an ubuntu VM image I can download too?

[2020-04-05 13:05] Jamesernator commented on #4104
zsh 5.7.1 (x86_64-ubuntu-linux-gnu)

Yes, but it also happens when running `zsh -f` which doesn't load them.

I'm not sure, but doing a bit of investigation, the directory in when switching from `zsh` to `bash` matters:

(Both of these examples behave the same when using shell replacement via `exec bash`, rather than subshell).

This fails:

[code]

But this doesn't:

[code]

Tried creating a VM,

[2020-04-05 14:49] vaccarieli opened #4109 "GDRIVE FILE COPY"
#### Output of `rclone version`

Latest

#### Describe the issue

Rclone won`t copy files from a GDrive file shortcut as it normally did before

[2020-04-05 17:13] trumblejoe opened #4110 "VFS Cache File-Level Size Options"
#### What is your current rclone version (output from `rclone version`)?
v1.51

#### What problem are you are trying to solve?
File-level encryption w/ file-name encryption creates small, must-access files on a per-directory basis. These files will often be rate-limited by the underlying providers resulting in errors and temporarily, and even potentially, service bans.

#### How do you think rclon

[2020-04-05 22:02] RemiTorracinta opened #4111 "s3 <- webdav <- PUT: OpenFile: fd=<nil>, err=file does not exist"
#### What is the problem you are having with rclone?

[code]
is presented when I try to PUT a file to rclone serving WEBDAV with an S3 backend. I only get this issue on the linux-amd64 platform, but everything works fine on macos.

#### What is your rclone version (output from `rclone version`)

I've reproduced the issue on versions 1.48, 1.50, 1.51, and the v1.51.0-151-gfc663d98 beta.

The bug do

[2020-04-06 06:35] Dibbyo456 commented on #4106
Actually it's not possible to disable versioning even if you're sharepoint/office 365 admin. The `EnableMinimumVersionRequirement` parameter has no affect after 2019.

[2020-04-06 15:50] kultigspritzig commented on #4021
@ivandeex I am happy to help debugging this, just need some pointers where to start.

[2020-04-06 21:19] sheerun commented on #2200
"Out of memory" also happens also with lsf command that just lists files in directory... I don't think it should keep all entries in memory.

[2020-04-06 22:39] animosity22 commented on #2200
@sheerun  - You need to share details and examples as that should not happen.

[2020-04-06 22:51] sheerun commented on #2200
@animosity22 I'm just running `rclone lsf --recursive --files-only` on digitalocean bucket with 44 millions files. rclone fails after around 20 million files. Here are logs: https://pastebin.com/wLP1bWQZ

[2020-04-06 22:59] scottmlew commented on #1522
I wanted to chime in to add that this feature would be extremely helpful.

The rc idea sounds promising. Another idea might be to let the user put a specially named file in a directory, and this signals to rclone to stop processing that directory. However, from looking at the code (my first time looking at Go, so please forgive me!) it looks like the upload list is compiled before any uploads star

[2020-04-06 23:02] scottmlew commented on #4097
I wanted to link to my open issue about the same/similar issue of files being reuploaded vs copied/moved locally

https://forum.rclone.org/t/still-unable-to-move-files-on-gdrive/13921

[2020-04-07 00:07] Dibbyo456 commented on #4109
That is a [known issue](https://forum.rclone.org/t/fyi-sep-30-new-google-drive-shortcuts-and-folder-structure/15197/6?u=harry).

[2020-04-07 00:56] Cubox- commented on #3641
Given that borgbackup needs to edit files in a non-sequential manner, vfs cache mode off would not work at all. A cache is needed for borgbackup.
To be fair, this issue has made me have to abandon using rclone with borgbackups and use another method. I am still grateful for ncw's work on this, and if he tells me he thinks he fixed the issue, I would be happy to try again with an updated code.

For

[2020-04-07 01:33] animosity22 commented on #2200
Yeah, 44 million files is not quite the norm and not the intent of the issue. The issue was related to a memory leak and using too much memory for that.

I'd probably open a separate issue and share your command as you did, version and what specs you are trying to run that against and what you are expecting to happen as I'm not sure it's a bug per se but definitely an outlier on a use case and som

[2020-04-07 01:33] animosity22 commented on #4109
Duplicate as noted above.

[2020-04-07 01:33] #4109 closed

[2020-04-07 04:52] Archerious commented on #678
Still getting this error.

[2020-04-07 09:30] aslimacc opened #4112 "cannot sync googleapi: Error 403 does not have storage.objects.list access to sites., forbidden"
#### What is the problem you are having with rclone?
I am synchronizing a directory from a machine hosted in GCP to a bucket (google cloud storage). The directory contains 219543 files (images). There are many symlinks that point to files in the same directory. At the end of sync, I have error:
ERROR : Attempt 3/3 failed with 29 errors and: googleapi: Error 403: "service account" does not have sto

[2020-04-07 20:56] dragetd commented on #3641
I have been experimenting with this as well.

borg seeks through the segment files and sometimes updates them at the end. By default segment files are 512MB in size. This can cause simple updates that change a segment file to cause rclone download the huge files which again causes huge delays.

Reducing the segmeint-size is easily possible and improves the responsiveness (i.e. borg create calls no

[2020-04-07 22:24] dragetd commented on #992
So the script currently in the wiki has a fews issues.

The 'total 0' does not work for localized systems. The script returns immediately which causes an error in the journal and a failed access. Only on the second access it works. And as the comment says: Empty remotes cause it to hang.

I would be okay with the mount-binary being a script, so rclone does not have any logic for handling this. But

[2020-04-07 22:31] gordan-bobic commented on #992
Thanks for the proposal to make the mount wrapper more robust.
Empty mount is a legitimate case and looping forever is similarly a non-starter for something that is there specifically to run unattended from fstab.

[2020-04-07 22:41] dragetd commented on #992
Maybe we should include the script in the source and not in the wiki, instead link and document it there?

[2020-04-08 10:10] pixel8383 commented on #3165
Any progress on this?

[2020-04-08 13:50] aslimacc commented on #4112
any update about this issue ?

[2020-04-08 21:29] #2573 closed

[2020-04-09 15:33] #3613 closed

[2020-04-09 16:06] lonix1 opened #4114 "[Feature Request] box.com authentication using app token"
As [discussed here](https://forum.rclone.org/t/can-i-force-rclone-to-use-boxs-cli-api/15463/6) with @ncw, it would be helpful if we could authenticate with box.com using an app token. Right now auth is performed using oauth.

When running services on a headless server, it is more convenient (and often more common) to use an app token, which is generated by hand on the service's website, then saved

[2020-04-10 09:26] soulspark666 opened #4115 "Cannot move files from drive to one drive"
#### What is the problem you are having with rclone?
[code]
#### What is your rclone version (output from `rclone version`)
v1.51.0

#### Which OS you are using and how many bits (eg Windows 7, 64 bit)
I am trying to copy it from google drive through Google Colab that has the following configurations.
[code]

####  Which cloud storage system are you using? (eg Google Drive)
I am trying to move my

[2020-04-10 13:01] natelandau commented on #4086
a multiarch docker image with multiple arm versions (not just 64bit) would be great.  running a cluster of pis running Armv7 and would love to run rclone

[2020-04-10 14:11] ncw commented on #4115
That error is coming straight from the server... So maybe it is overloaded?

You can see more by adding `-vv --dump responses` to your command line.

[2020-04-10 14:20] ncw commented on #4112
Is this a dangling symlink? You said with the `-L` that you wanted symlinks but rclone couldn't copy this one.

This looks like you need to give more permissions to your service account.

[2020-04-10 14:20] ncw commented on #3165
I'm looking for volunteers for this :-)

[2020-04-10 14:22] ncw commented on #992
@dragetd that sounds like a good idea! There is a place for it now in `contrib`. Fancy tidying the script up, making sure it works then sending a pull request to place it in `contrib/mount-helper`?

[2020-04-10 14:27] ncw commented on #3641
@dragetd I'm currently re-working the VFS layer to make it have delayed uploads which will probably help with excess uploading and downloading.

In general changing existing objects is not very cloud storage friendly - nearly all the rclone backends have immutable objects (with the exception of local and sftp).

So tweaking down the segment size sounds like an excellent idea if that is something b

[2020-04-10 14:29] ncw commented on #678
@Archerious can you make sure you are using a recent rclone ( [the latest release](https://rclone.org/downloads/)) and if you can still reproduce it then please make a [new issue on github](https://github.com/rclone/rclone/issues/new/choose) with full instructions on how to reproduce - thanks!

[2020-04-10 14:31] ncw commented on #2200
@sheerun have you got 44 million files in one "directory"? If so then I expect you are [running into this](https://rclone.org/faq/#rclone-is-using-too-much-memory-or-appears-to-have-a-memory-leak)

[2020-04-10 14:34] ncw commented on #1522
A `graceful stop` rc feature is a lot easier to implement than a file in a directory alas. It wouldn't be too difficult to implement provided you don't mind sticking your fingers into concurrent flying chainsaws that is rclone's sync code ;-)

[2020-04-10 14:37] sheerun commented on #2200
Indeed, but I feel that just listing files in this directory (`lsf`) ought not involve garbage collector. Records can be fetched in buffer of constant size or something. I haven't tried listing files with `GOGC` set, instead I've just written simple python script to list files instead

[2020-04-10 14:38] ncw commented on #4106
You can list the versions of a file here

https://docs.microsoft.com/en-us/onedrive/developer/rest-api/api/driveitem_list_versions?view=odsp-graph-online

I couldn't find a way of deleting previous versions though - can anyone see one?

I suspect to delete versions then you'd have to do a rename or a copy (something which gets rid of the versions) then rename it back. How does that .NET code do it

[2020-04-10 15:18] aslimacc commented on #4112
Hello,
1. I have no problem if there are files that are not copied.

2. I am using a service account in my config file from "/root/.config/rclone/rclone.conf"
[remote]
type = google cloud storage
project_number = accengage-bigdata
location = eu
storage_class = MULTI_REGIONAL
service_account_file = /root/backup-key.json

the json file is the file generated when the service has been created.
And thi

[2020-04-10 15:44] ncw commented on #4104
OK I managed to replicate that :-)

It seems that starting the shell in the subdirectory of an `rclone mount` is the critical part. It goes wrong with`bash` and `zsh` for me like that.

[code]

pwd is the little C program you made. However this does work with `/bin/pwd`

Looking at the strace of `/bin/pwd` you can see it gets the same ENOENT from `getcwd`

However it then appears to do a workaroun

[2020-04-10 16:13] soulspark666 commented on #4115
It is quite free since small files get uploaded easily. Still I will post the results for ``-v --dump``.

[2020-04-10 16:27] soulspark666 commented on #4115
Here is the response
[code]

[2020-04-10 16:29] soulspark666 commented on #4115
I used the following command by the way:
[code]

[2020-04-10 17:38] #1097 closed

[2020-04-10 20:33] Salamafet opened #4118 "Limit number of item to interact with"
Hi,

I try to delete the oldest file of a remote folder and copy the youngest file. The date of the files are never determined.
In the latest update (v1.51.0) we can order by modtime with the `--order-by modtime` (asc/desc) option.

Is it possible to add an option like `--limit` to interact with limited number of file ?
In my case: `--order-by modtime,asc --limit 1`

Thanks

[2020-04-10 22:53] dragetd commented on #4104
I am experiencing the same issues right now. On Ubuntu 18.04

Kernel: 4.15.0-74-generic #84-Ubuntu SMP Thu Dec 19 08:06:28 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

I was confused why my dolphin randomly assumed directories to be deleted and some python scripts failing in subdirectories with a cwd call. Looks pretty much like the issue in question, but on an older kernel.

I'll try older rclone ver

[2020-04-11 02:43] dragetd commented on #992
The `until [ ! -z "$(ls -A ${mountpoint})" ]; do` is still a hack. It considers a mountpoint 'ready' when there are files. Empty remotes trigger an endless loop.

Anyone got a better idea to to check if a mount is ready?

Maybe a simple `sleep 1` might be still better than assume there is always some file?

[2020-04-11 04:01] eatnumber1 commented on #992
Was only backgrounding after the mount was successful not an option? As you mentioned earlier, that sounds like the best option.

Failing that, other options include:
 - [Watch for kernel mount events](https://stackoverflow.com/a/1113371) via uevents, then check /proc/mounts to see if it's rclone. You'd have to write this in a different language to do it though.
 - Check that there is a mount on t

[2020-04-11 12:21] ncw commented on #4104
Hmm, I wonder if this was caused by a kernel change. 4.15 is quite old though.

Does adding `--attr-timeout 10s` make it work for 10 seconds?

[2020-04-11 12:26] dragetd commented on #992
Someone wrote that --daemon does not play along nice with systemd. I tried it and found out it results in: `Found left-over process 975 (rclone) in control group while starting unit. Ignoring.` when restarting.

Tho I am really not sure why this works with & any better. How does sshfs or other fuse-filesystems do it? I'd much prefer systemd working together with rclone doing the mount and then bac

[2020-04-11 14:12] V33m commented on #2809
I had an unfortunate start with rclone and Jottacloud as this issue has bothered me for many hours without figuring out why I was seeing `TIMESTAMP ERROR : FILE: Failed to copy: failed to calculate MD5: write /tmp/rclone-*md5-*: no space left on device`. Especially frustrating was the part that I thought not using `-c` should solve this, as well as using `--ignore-checksum`. In addition to that, I

[2020-04-11 14:23] ncw commented on #992
Rclone emits a systemd notification when it is mounted. I don't know how that actually works though - I just used this libary: https://github.com/okzk/sdnotify

You could of course just wait 10 seconds in that loop so it isn't infinite. A bodge but one without an infinite loop at least!

If an environment variable was set then rclone could write to a file/socket on successful mount.

The Go runtim

[2020-04-11 14:29] ncw commented on #4118
These flags only work while transferring objects, not listing

I think adding a `--max-files` flag would probably work for "copying the youngest" file. Not sure about deleting the oldest though.

[2020-04-11 14:34] ncw commented on #4115
Errors like that make me think that something is overloaded at the Microsoft end.

I think the server is telling you to slow down... I see you've done a lot of slowing down already... You could try setting a `--bwlimit` or decreasing `--tpslimit` further.

[2020-04-11 14:35] ncw commented on #4112
You need to give the account `storage.objects.list` too I think.

[2020-04-11 14:37] ncw commented on #2200
Fixing it involves reworking the List() interface internally to return the listing in chunks, then it would att least work for listing!

[2020-04-11 14:49] philips commented on #4086
I researched this a bit and it seems that docker hub has no automation to do this automatically.

However, docker desktop has a year old beta feature that enables ARM builds and pushes to docker hub: https://www.docker.com/blog/multi-arch-images/

[2020-04-11 15:26] thaJeztah commented on #4086
I think @tonistiigi has a blog or demo to build multi-arch images with buildkit

[2020-04-11 15:30] ncw commented on #4086
I found an article about [cross compiling with docker](https://medium.com/@carlosedp/cross-building-arm64-images-on-docker-desktop-254d1e0bc1f9)

From that it looks like rclone existing Dockerfile would "just work" with `docker buildx`.

[2020-04-11 15:42] ncw commented on #4111
I would say that the curl error indicates the directory you were uploading to does not exist. That is what my tests indicate...

[2020-04-11 15:46] ncw commented on #4110
I think this could certainly be done.

I'm unsure how it would help in your scenario though? For `--vfs-cache-mode full` the small files are downloaded to disk. If you exclude them then the small files will be downloaded on the fly. Can you explain further?

[2020-04-11 15:48] ncw commented on #4057
I don't think anyone is working on this issue. @ankur0493 do you want to have a try? Changing the `NewFs` interface is quite a big job.

[2020-04-11 15:51] ncw commented on #3990
Yes it does. Rclone will sync what it can.

Try adding `--fast-list` does that help?

[2020-04-11 15:53] ncw commented on #4108
The mega protocol was reverse engineered from the open source C++ programs provided by mega so there is likely something rclone is doing wrong here when it is uploading the file.

Maybe it is supposed to add another key to the upload - I don't know.

[2020-04-11 15:59] ncw commented on #4079
I'd rather not have another backend if we can use the s3 backend. Maintaining backends is hard work!

I was imagining a bit of customisation of the s3 backend like has been done already for Alibaba etc.

[2020-04-11 16:00] ncw commented on #3222
@ankur0493 this hasn't been started. We've had more requests for the equivalent feature in s3 than in gcs (there may be an issue about that somewhere!)

[2020-04-11 16:04] ncw commented on #3386
Now that rclone supports the [--password-command](https://rclone.org/docs/#password-command-spaceseplist) flag it should be easy to integrate any 3rd party password manager provided they have a cli interface.

I think that is my preferred solution for the moment, rather than attempt to integrate a myriad of password managers.

What do you think?

[2020-04-11 16:16] valeriob opened #4120 "rclone sync from OneDrive to local : Failed to copy: chtimes no such file or directory"
#### What is the problem you are having with rclone?
I'm using rclone sync to clone a onedrive account locally.

#### What is your rclone version (output from `rclone version`)
1.51

#### Which OS you are using and how many bits (eg Windows 7, 64 bit)
Unraid 6.8.3

####  Which cloud storage system are you using? (eg Google Drive)
Onedrive

#### The command you were trying to run (eg `rclone copy /

[2020-04-11 16:24] Salamafet commented on #4118
`--max-files` seems not to exist in the latest version of rclone and in the documentation 🤔

[2020-04-11 16:27] aslimacc commented on #4112
All the roles I gave to the service account have the permission
storage.objects.list

Think that is a bug. Is there a way to avoid this error ?

On Sat 11 Apr 2020 at 16:35, Nick Craig-Wood <notifications@github.com>
wrote:

[2020-04-11 16:29] ncw commented on #3709
Thoughts on the above @Max-Sum ?

[2020-04-11 17:30] ncw commented on #4114
Since you were currently working on box auth - I wondered if you'd like to look at this one @dbramwell  ?

It should be a question of adding the key straight to the client with `f.rest.SetHeader("Authorization", "Bearer "+f.opt.APIKey)` and disabling the oauth config.

[2020-04-11 17:31] animosity22 commented on #4120
With the small excerpt of the log, it looks like you are having network issues.

[2020-04-11 17:50] aurelg opened #4121 "Add support for new Google Drive Shortcuts and Folder Structure"
#### What is your current rclone version (output from `rclone version`)?

[code]

#### What problem are you are trying to solve?

Google Drive implements a new Shortcuts and Folder Structure. Those shortcuts are currently silently ignored, yet visible with a DEBUG message:

[code]

#### How do you think rclone should be changed to solve that?

I think rclone should copy the item pointed to, ideall

[2020-04-11 18:21] philips commented on #4086
I can confirm with a minor tweak the current Dockerfile works fine with ARM: https://github.com/rclone/rclone/pull/4122

[2020-04-11 19:59] darthShadow commented on #4121
Closing as the issue is a duplicate of an already existing issue: #4098

[2020-04-11 19:59] #4121 closed

[2020-04-11 20:13] Derkades opened #4124 "Option to make --max-duration=TIME exit rclone."
#### What is your current rclone version (output from `rclone version`)?
1.51.0

#### What problem are you are trying to solve?
I am trying to run a few rclone commands in a loop. For example:
[code]
I don't want one sync process to get stuck for too long, so I'd like to use --max-duration to have them stop after a while. It does stop scheduling transfers, but the rclone process never exits. It se

[2020-04-11 21:12] RemiTorracinta commented on #4111
Ah, that's fair enough, though it's puzzling that the two platforms produced different results.

The nuance here is that s3 doesn't require directory objects to actually exist when putting objects in a "directory". I would have assumed that disabling the cache would therefore resolve the issue, since rclone might write directly to s3 without trying to open a non-existent directory on the filesyste

[2020-04-11 22:43] trumblejoe commented on #4110
In my case, I'm not interested in excluding the small files actually, only in excluding larger files from monopolizing disk space. I actually don't run vfs-cache-mode full over writes because with my use-case my local storage fills up far too quickly with cache-mode full. I see this request as a way to make cache-mode full more useful than what it already is.

[2020-04-12 03:24] tddschn opened #4125 "Feature request - make it possible to include another config file in rclone.conf"
#### What is your current rclone version (output from `rclone version`)?
[code]

#### What problem are you are trying to solve?
I want to share part of the config file between my 2 machines, and I guess it would be really helpful if I could just add this line  `include path/to/shared/config` in `rclone.conf`.

[2020-04-12 05:38] lonix1 commented on #4114
My understanding of rclone is that you support the "lowest common denominator" - i.e. those features that exist on all storage services.

Is it even possible to support this auth mechanism, just for box?

[2020-04-12 07:34] dr-mcgillicuddy opened #4126 "Crash forces power-off reset/reboot"
#### What is the problem you are having with rclone?

Total system lockup on macOS.

Not reproducible but, usually some combination of these things--sometimes it happens, but not always.
1. doing a server side move of a lot of files (in this case 86)
2. I start a second, simultaneous move of another 50 files
2. mount the drive on another device simultaneously to these actions
3. some of the files

[2020-04-12 09:09] valeriob commented on #4120
The account is about 160Gb, i have this problem only on 4 files, they are about 200Mb each, from the log it's not clear to me what parameter i could change to make it work, the retry looks like stopping at 4/10.

[2020-04-12 10:36] dragetd commented on #992
Okay, I have figured out the pflag flags parsing and trying to figure out cobra for the sub command things. Basically I thought before parsing the flags in setupRootCommand (cmd/help.go:168) I'd check the binary name it was called by is mount.rclone. If it is, then maybe we need to strip away some of the general mount-parameters (as the bash script did above), but I am not really sure who else han

[2020-04-12 10:59] dragetd commented on #4104
Oh, neat. Fortune favors fools, I guess!

I thought I could help debugging this but just found no clue whatsoever, testing different versions. The --attr-timeout parameter did also affect my case, but I wanted to make sure and tested again today. Only to find out it magically works!

Why? Since I also checkout out the repository yesterday which happens cause (master branch) compiled version in my

[2020-04-12 11:14] animosity22 commented on #4120
It would be helpful to see the full log as it just looks like you are having a network error, which no parameter change would fix.

[2020-04-12 12:43] ncw commented on #4098
My bug on the google issue tracker has been accepted and it looks like the shortcuts have arrived in the Go SDK :-)

Time for a bit of coding...

[2020-04-12 12:51] valeriob commented on #4120
Running rclone multiple time solved the issue, now even though the onedrive source did not change, i still have about 300mb in 96 files that get downloaded over and over again, i find em every time in the --backup-dir folder.
For example this one  DSC06052.JPG, i find it on both the synced local folder and in the backup dir (they are identical with size 2101211), it looks like processed multiple t

[2020-04-12 12:57] animosity22 commented on #4120
A full log helps so much rather than a small chunk.

It says why something gets uploaded as the sizes differ as the dst size is smaller than the source.

[2020-04-12 13:01] valeriob commented on #4120
Sure thing, how can i send it to you privately ?

[2020-04-12 15:58] ncw commented on #4098
I've had a go at this - please give it a whirl and report back

https://beta.rclone.org/branch/v1.51.0-163-g8b5786ab-fix-4098-drive-shortcuts-beta/ (uploaded in 15-30 mins)

[2020-04-12 16:24] dragetd commented on #4126
Userspace code should never be able to lock the kernel up in any way. If something like this happens, the problems must be outside of rclone.

Does the darwin kernel provide fuse natively? If not, and an extra fuse module is needed, then this could be a bug in the fuse module for Mac. It would run/trigger some kernel code that could cause a total system lockup.

The other alternative would be faul

[2020-04-12 16:33] dragetd commented on #4125
This sounds like a nice idea.

Tho there are different ways of approaching this.

1. A new 'include' directive in the config. Which might complicate the parsing and not play along nicely with the config format, I am not sure.
On the other hand, this would allow some really powerful and dynamic setups.

2. Fixed code that accepts a directory and parses all .conf files inside. The default lookup for

[2020-04-12 16:37] dr-mcgillicuddy commented on #4126
No

There is a built in hardware test, I show no problems.

I'm not sure how I'd do this, but I have used other FUSE filesystems before and have never seen them take down a system this way.

This isn't really a kernel lockup.  If it was, I would expect no response whatsoever.  In fact, applications that are already open still work.  I can switch between them.  Once I close them, though, they are g

[2020-04-12 16:41] dragetd commented on #4126
I am a complete darwin noob. But I assume it has some kernel logs, system logs and other things… maybe you are able to read them shortly before the lockup happens? I used to run a second machine, SSH into my system and follow the logs while working with the main machine.

[2020-04-12 21:12] Zirro commented on #4126
I've had this type of lockup occur on several macOS versions before I started using rclone, so I doubt that it's the cause. It seemed to get more frequent with the release of Catalina though, which finally prompted me to go through remove all kernel extensions I no longer need. Since doing so I've not experienced this type of lockup again.

Given the reported circumstances - and with the lockups I

[2020-04-12 21:58] ariek48 opened #4127 "[Feature Request] add password to single entry rclone config file"
At this moment I use an encrypted config file which works fine.
Everytime I start rclone I enter the password and all is okay

But I was wondering.
Is it possible to only encrypt single entries in a rclone.conf file, for example
I have an encrypted gdrive folder and I want to copy, ls,move,etc the drive

could something like

rclone ls password@encrypteddrive:/ be something
or
rclone copy password

[2020-04-13 04:52] luckman212 commented on #2909
Came here looking for an answer to the same problem. A little sad to see this was closed a few months ago. Thank you @danemacmillan for your research! I initially had removed `rclone` because it was causing my shell startup time to be insufferably slow, but your workaround has allowed me to put it back.

Hope someday the completion "problem" can be improved, but this is an ok kludge for now.

[2020-04-13 09:27] dr-mcgillicuddy commented on #4126
Well, this isn't heavy I/O because it's all server-side.  And again, only with rclone, so maybe something to do with a specific interaction of rclone and FUSE

Any of you OSX-ers have tips on getting any debug info?  System logs are unremarkable, so I need something else to go on.  My only kexts btw are the standard VirtualBox ones.

[2020-04-13 11:22] animosity22 commented on #2909
If you have something to report or add, please use the forums or create a new issue @luckman212

[2020-04-13 12:06] HeroXx opened #4128 "ls hangs on team drive?"
#### Output of `rclone version`
rclone v1.48.0
- os/arch: linux/amd64
- go version: go1.12.6

#### Describe the issue

Up until this morning, I had been able to successfully use a team drive mounted (with encryption). Since this morning, when I issue an 'ls' it will just hang (sometimes returning after 2 or 3 minutes) but it makes anything consuming the mount error or hang.

I've tried restarting

[2020-04-13 13:21] sretlawd commented on #4101
Happy to send up a patch.  I don't currently have access to any Smart TVs, and no idea when I'll be going home, so I can't really do much at the moment..

[2020-04-13 16:43] agudelotmateo commented on #4098
I'm getting 404. Trying to user the browser and no luck either (latest is _v1.51.0-160-g424554bc-beta_). I'd be testing the feature right away. Thank you.

[2020-04-13 17:05] Nottt commented on #1674
Is there a equivalent for google drive?

[2020-04-13 20:02] deflax commented on #3990
Yes, it does help. Thank you! (good thing we have extra RAM on the backup server 😄)

[2020-04-13 21:37] shvchk commented on #4025
Temporary workaround is to make a copy of this folder via web interface (make sure you have enough free space), use rclone to copy/sync that copied folder, then you can delete it (to free used space).

[2020-04-14 00:12] jackitsdotcom commented on #3062
Still running into this issue here. I might have a look into how I can adapt to the new API but I am a novice.

[2020-04-14 00:49] anacrolix commented on #4101
@sretlawd I don't really have access either, I expect it should be pretty straightforward to upstream many of your changes, the code hasn't changed much, if at all in many areas and the layout remains the same.

[2020-04-14 04:51] AndreTheHunter commented on #958
... 4 years later
Yes please! +1

[2020-04-14 06:08] jmakov opened #4129 "'allow-root' flag not respected"
#### What is the problem you are having with rclone?
[code]
#### What is your rclone version (output from `rclone version`)
[code]

#### Which OS you are using and how many bits (eg Windows 7, 64 bit)
Ubuntu 19.10

####  Which cloud storage system are you using? (eg Google Drive)
gDrive

[2020-04-14 10:45] ncw commented on #4098
OK that turned out to be a lot harder than I anticipated!

https://beta.rclone.org/branch/v1.51.0-163-gf22af086-fix-4098-drive-shortcuts-beta/ (uploaded in 15-30 mins)

Here are the docs I had to make for it

### Shortcuts ###

In March 2020 Google introduced a new feature in Google Drive called [drive shortcuts](https://support.google.com/drive/answer/9700156) ([API](https://developers.google.com

[2020-04-14 11:52] ncw commented on #4128
Can you try [the latest release](https://rclone.org/downloads/) or [the latest beta](https://beta.rclone.org)?

[2020-04-14 12:03] ncw commented on #3990
I didn't realise there was a limit for that API.... Is that documented anywhere?

Another way to work around would be to take 1000 calls/minute and set a `--tpslimit of 16` to stay beneath it.

Currently rclone is reacting to 429 errors by slowing down. Rclone would obey a `Retry-After` header here if there was one but it should be sleeping for 1 second after each error.

Is there any chance you c

[2020-04-14 12:10] ncw commented on #4125
Of those I'd probably prefer option 1 too.

The rclone config is in `ini` style.

Is there a standard for includes in `ini` style config? I didn't see one in the wikipedia page about [ini files](https://en.wikipedia.org/wiki/INI_file)

This isn't straight forward alas, remember rclone writes tokens etc back to the config file so it would have to have the concept of multiple config files. Or maybe

[2020-04-14 12:12] ncw commented on #4129
Can you try this on [the latest beta](https://beta.rclone.org)? Allow root has been deprecated from the FUSE library I'm using.

[2020-04-14 15:37] Saoneth commented on #4021
@kultigspritzig try setting hash_type to none

[2020-04-14 18:54] jccurtis commented on #983
With `rclone genautocomplete zsh` has this been resolved? Is there interest submitting this to:

https://github.com/zsh-users/zsh-completions

I could submit a PR if there is. I don't want to jump the gun and submit the autocomplete script you put together. 😄

[2020-04-14 22:10] jackitsdotcom opened #4130 "--rc-web-gui cannot create/edit configs"
#### What is the problem you are having with rclone?
When I try and use the `--rc-web-gui` with the `--rc-no-auth` flag, I still get the following errors:

-> `2020/04/15 07:57:58 ERROR : rc: "config/get": error: authentication must be set up on the rc server to use "config/get" or the --rc-no-auth flag must be in use`
No configs can be created.

Once I used `-vv` I saw that the GUI cannot now be

[2020-04-14 22:28] musiczhzhao commented on #3230
Hello, is there any recent update on this feature?

[2020-04-15 07:18] dbramwell commented on #4114
@ncw Sure, I'll take a look. Seem's simple enough, but as always, expect a bunch of questions!

[2020-04-15 09:21] Cnly commented on #3804
Since we've already got a few PRs working on this and it's actually harder to implement than it seemed, I'm taking away the `good first issue` badge.

[2020-04-15 11:44] bjg2 commented on #59
Will this come to master / release soon? I cannot use rclone because of this, I need to add content-disposition metadata....

[2020-04-15 12:13] d7415 opened #4132 "Docs: --quiet"
#### What is the problem you are having with rclone?
[This](https://github.com/rclone/rclone/blob/master/docs/content/docs.md#-q---quiet) page says that "Normally rclone outputs stats and a completion message". For me it doesn't (on a successful run), which fits with a [2017 change](https://github.com/rclone/rclone/blob/master/docs/content/changelog.md#v136---2017-03-18) to make rclone quieter. Th

[2020-04-15 12:32] Yexiaoxing commented on #4130
What browser are you using?

[2020-04-15 12:49] davemaps commented on #1778
I realize this would be difficult but would like to register my support also. I use Linux, MacOS, and iOS, and would love to have better access to iCloud storage than via the browser when I’m on my Linux machines.

[2020-04-15 15:41] ncw commented on #4132
Well spotted - that is stale docs. Want to send a PR to fix up?

See: https://github.com/rclone/rclone/blob/master/CONTRIBUTING.md#writing-documentation

[2020-04-15 15:43] ncw commented on #59
Soon hopefully! There are a couple of little things for @tgallant to fix up on the PR.

[2020-04-15 15:44] ncw commented on #3230
Do you want to work on it @musiczhzhao ?

[2020-04-15 15:47] ncw commented on #983
I think it has :-) I'm not a zsh user so I'm relying on users to tell me whether it works or not! Most of the hard work is done by cobra.

The completion script changes quite often as is generated by rclone so changes whenever new flags or backends get added.

Since rclone generates it and it is no use without rclone it might be better to submit a mechanism for generating it from rclone?

I will c

[2020-04-15 15:47] #983 closed

[2020-04-15 15:55] Yexiaoxing commented on #4130
Well I think I got the reason. In https://github.com/rclone/rclone/blob/38a4d50e73060e1b486de6dc0caba68fa0a0c0a0/fs/rc/rcserver/rcserver.go#L65 the http server is started before webui set the username and password, causing the internal flag `usingAuth` to be false. But we do use this flag to identify whether the server is auth-enabled.

[2020-04-15 15:58] ncw commented on #4114
Thank you @dbramwell  and happy to answer questions :-)

[2020-04-15 16:02] ncw commented on #1674
This will do it for google drive

    rclone lsf -R --drive-skip-gdocs --files-only drive:test --format hp | sort | uniq -D -w 32

[2020-04-15 16:03] ncw commented on #4127
This isn't possible at the moment and the way the config file works would be very hard to implement.

The best I could suggest at the moment would be to have two config files, one encrypted and one unencrypted and switch between them with the `--config` flag.

[2020-04-15 16:25] ncw commented on #4111
I tried the webdav server on plain s3 like this

    rclone -vv serve webdav s3:rclone

Then this fails with the 404 error

[code]

However if I "create" the directory first it does work

[code]

As you noted s3 doesn't support directories, and neither does rclone - what is happening is that the mkdir puts one in the VFS cache for a while (until the directory expiry time anyway).

I think it must

[2020-04-15 17:00] ncw commented on #992
@dragetd I made a quick attempt to translate the bash script into Go to get you going. I probably got it wrong since I'm not very good at bash, but it should give you a starting point! I didn't try mounting anything with it but it seems to do the right thing (maybe!).

[code]

[2020-04-15 17:02] ncw commented on #4104
Hmm, I think I might need to ask a proper file system developer for help here! I think the solution is something to do with the attribute timeouts on the inodes and invalidating them properly but I'm a bit out of my depth here!

[2020-04-15 17:04] ncw commented on #4086
@philips so presumably you built the docker image on an ARM machine?

What I'd really like to do is work out how to build an ARM docker image on a linux machine.... Perhaps `docker buildx` is the solution?

[2020-04-15 17:08] #3630 closed

[2020-04-15 17:08] ncw commented on #3630
Thanks to @dooven this is fixed!

I've merged this to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

[2020-04-15 17:09] ncw commented on #4118
`--max-files` was only an idea for a flag!

[2020-04-15 17:12] ncw commented on #4112
I'm not a GCS expert, but I'd try making a service account with more permissions to see if you can get it to work.

However we could ask @thestigma for help who does know a lot about GCP permissions!

[2020-04-15 17:16] ncw commented on #4098
Hopefully this one will actually build - sorry!

https://beta.rclone.org/branch/v1.51.0-171-g5d91b677-fix-4098-drive-shortcuts-beta/ (uploaded in 15-30 mins)

[2020-04-15 17:18] ncw commented on #2809
This should be fixed by - can you give it a go?

https://beta.rclone.org/branch/v1.51.0-172-gc8442705-fix-crypt-src-hash-beta/ (uploaded in 15-30 mins)

[2020-04-15 19:22] LinuxOnTheDesktop opened #4134 "Incorporate some 'rclone rc' functionality into 'rclone', to make exit-codes correct"
#### What is your current rclone version (output from `rclone version`)? 1.151.0

#### What problem are you are trying to solve?

Get an accurate, informative non-zero exit code when using `rclone copy` to try to copy a non-existent file from the cloud.

#### How do you think rclone should be changed to solve that?

Somehow merge `rclone rc --loopback operations/copyfile` with `rclone copy`.

I do

[2020-04-15 20:34] calisro commented on #958
https://forum.rclone.org/t/multiwrite-union-test-beta/14458/77

That will likely close this issue as well.

[2020-04-15 21:22] d7415 commented on #4132
Sure. I'll take a look.

[2020-04-15 21:31] tiborvass commented on #4086
@ncw if you want a Dockerfile for Go that works for both native compiling and cross compiling I use the following:

[code]

To cross build this for arm64 on x86: `docker build --platform linux/arm64 .` but you won't be able to run it, only push it.

One good reason to use buildx, is to build multiarch images: `docker buildx build --platform linux/amd64,linux/arm64 -t rclone/rclone --push .` will p

[2020-04-15 22:13] philips commented on #4086
On Wed, Apr 15, 2020 at 10:05 AM Nick Craig-Wood <notifications@github.com>
wrote:

Yes

@tiborvass is an expert and I agree with his recommendations. If you have
access to a Mac/Windows machine with docker desktop I think buildx would be
a good way to build the releases.

https://quay.io/repository/philips/rclone-arm
<https://quay.io/repository/philips/rclone-arm?tag=latest&tab=tags> is
working f

[2020-04-15 23:52] agudelotmateo commented on #4098
I just tested and it doesn't work. Some of the files it doesn't detect the m in the origin folder, but for the ones it does detect, the shortcut (not an actual copy of the file the shortcut points to) is created in the destination. Also, the logs shows errors and claims to not recognize the document type (visual bug?). Here's the log:
`2020/04/15 18:46:55 DEBUG : rclone: Version "v1.51.0-171-g5d91

[2020-04-16 04:31] tecepeipe opened #4136 "getting throttled without reaching limits"
Hi,

I'm experiencing the following error when copying from drive to onedrive:

Not steady speeds. It goes fast - around 30MB/s, then stalls at 0bps for few minutes.. then goes back to 30MB/s for couple minutes...

Odd because I have my own id on both Drive and OneDrive.
and I'm not peaking the limits on Drive API either. I checked on url shown in erros and my maximum over 7d is 589 out 10,000 (qu

[2020-04-16 05:04] cargo12 opened #4137 "Auto settings selector"
As I see, one of the most popular topics is setting optimal flags for higher speed up/down.
Tasks mostly identical, not more than maybe 5.
Why not add an automatic calibration mode when the software is left overnight and iterates over various combinations of flags and their values. Generates files of various sizes and transfers them back and forth. And in the morning the user will receive a log an

[2020-04-16 08:55] Salamafet commented on #4118
Oh. Sorry my english is not so good.

Yes is a good idea to add `--max-files` flag.

[2020-04-16 09:11] bjg2 commented on #59
Looking forward! It would be very useful for me, as currently I can not use this great tool.

PS. I would, at the moment, upload to AWS S3 and GCS, so I'm the most interested in setting content-disposition in those two as expected.

[2020-04-16 10:38] darthShadow commented on #4098
For the copying of the shortcut, that's probably as expected according to the documentation above:

[2020-04-16 14:04] V33m commented on #2809
I can confirm that the version is working perfectly! Thx :)

@tikki, you can try the version as well and close the issue if it's working for you too.

[2020-04-16 17:12] #4132 closed

[2020-04-16 17:26] ncw commented on #4086
Thankyou @tiborvass and @philips for your info.

I managed to install `docker buildx` on my linux laptop so it probably wouldn't be too hard to make sure it is installed on the GitHub actions builder which is where I'd really like to be doing the builds from....

I will have an experiment!

[2020-04-16 18:18] philips commented on #4086
@ncw just be aware that installing buildx isn't enough. You need to also have an ARM builder hooked up to buildx AFAICT. This is something that the Docker Desktop does for you on Win/macOS.

I don't have access to Linux that allows binfmt to do this but there are tutorials for setting it up: https://community.arm.com/developer/tools-software/tools/b/tools-software-ides-blog/posts/getting-started-w

[2020-04-16 18:53] eugenevd commented on #52
I disagree with closing this issue.
There are people who have paid accounts, who would like to access the files there via something like rclone

[2020-04-16 19:50] musiczhzhao commented on #3230
Hi I wish I can but I don't think I have the experience/expertise for this task. I thought @sandeepkru was looking into this?

[2020-04-16 23:59] Jwink3101 opened #4139 "onedrive hangs on token issue without any notice"
#### What is the problem you are having with rclone?

When I have a token issue on OneDrive, it just hangs without anything helpful.

**Note**: I am not asking how to fix the issue (I haven't tried yet but I suspect I just need to reauthenticate). I am reporting the lack of clarity from rclone

#### What is your rclone version (output from `rclone version`)

[code]

#### Which OS you are using and

[2020-04-17 07:30] dojo90 opened #4140 "copy multiple subfolders/directories not working on webdav (Nextcloud)"
#### What is the problem you are having with rclone?
Based on the following folder structure:
[code]
When running the following command
[code]

Only the first subdir is created on remote:
[code]

#### What is your rclone version (output from `rclone version`)

[code]

#### Which OS you are using and how many bits (eg Windows 7, 64 bit)

[code]

####  Which cloud storage system are you using? (eg G

[2020-04-17 09:38] creativeprojects commented on #2736
Hey! any progress in this?

(if not I might be tempted to have a look myself)

[2020-04-17 12:19] fcaponi opened #4142 "Evaluate a workaround for Google Photos export"
#### What is your current rclone version (output from `rclone version`)?
rclone v1.51.0
- os/arch: windows/amd64
- go version: go1.13.7

#### What problem are you are trying to solve?
Regular backup of Google Photo content on a local hard drive (through RClone), avoiding the currently documented resolution limit on this feature (due to google's api limits)

#### How do you think rclone should be c

[2020-04-17 15:28] tikki commented on #2809
Yes! I only did a quick test with a single large file, but as far as I can tell it didn't copy it to RAM or disk anymore. It took about two minutes of maxing out the CPU before the actual upload started, but other than that everything went smoothly.
Really great, thanks a lot!

Does that mean the `RCLONE_JOTTACLOUD_MD5_MEMORY_LIMIT` env setting serves no purpose anymore? I previously had it set to

[2020-04-17 15:54] creativeprojects commented on #1877
Following my previous post, I can confirm it works all fine for a decent sized library (I have about 5GB). I've been doing backups of it for the last few months.

I believe the issues I have with trying to download many many tiny files, or alternatively very big ones is due to the fact that my Seafile server is hosted on a very cheap VPS (it was a Back Friday deal and the poor host is seriously ab

[2020-04-17 16:31] mstgrv commented on #1647
Bumping this issue - Cryptomator just released a new version which has refactored their vault format, perhaps this might make it easier to implement support in rclone?

https://github.com/cryptomator/cryptomator/releases/tag/1.5.0

[2020-04-17 19:25] philips opened #4144 "googlephotos: 404 on "odd" file"
#### What is the problem you are having with rclone?

Getting a 404 on an "odd" source object name.

[code]

#### What is your rclone version (output from `rclone version`)

1.51.0

#### Which OS you are using and how many bits (eg Windows 7, 64 bit)

Linux ARM

####  Which cloud storage system are you using? (eg Google Drive)

Google Photos

#### The command you were trying to run (eg `rclone cop

[2020-04-17 19:30] terorie commented on #2736
@creativeprojects I didn't have any notable progress, feel free to go ahead :)

[2020-04-17 20:55] philips commented on #4144
Found the exact file causing the issue. can reproduce easily now.

[code]

[code]

[2020-04-17 21:26] philips commented on #4144
something else that is interesting. I downloaded this image and uploaded it to a different account. Google Photos renders it as a grey error box and it doesn't show up in rclone ls.

![Screenshot 2020-04-17 at 2 24 23 PM](https://user-images.githubusercontent.com/33544/79615341-6334da00-80b7-11ea-93e5-4cbcec3afa8a.png)

[2020-04-18 01:55] gary-kim commented on #1647
That's kind of annoying, I already finished implementing the file layout and it's been completely redesigned

[2020-04-18 05:07] Sunil-P commented on #3804
I am unable to test my PR because of restrictions in accessing country specific cloud. Usually these country specific ids are business specific, I can't register a personal id to test.
Anyone willing to help me out with this. Thnx!

[2020-04-18 09:59] dbramwell commented on #4114
Might have jumped the gun a bit here. Between my permissions in Box at work and the £8/month cost of adding `App Token` functionality in a personal account, I have no way to create an App Token to test this.

[2020-04-18 12:13] CryFun opened #4147 "rclone slow"
rclone transfer speed is slow, rclone copy is about 100kb / s at first, and then 12b / s. The upload upload speed is about 60kb / s, which is very slow

[2020-04-18 12:48] Yexiaoxing commented on #4147
Thanks for your report, but the information you provided is not enough. Could you please refer to https://github.com/rclone/rclone/blob/master/.github/ISSUE_TEMPLATE/Bug.md and edit your issue?

Also, speed can be related to the Internet you are using, the storage provider, and many other things.

[2020-04-18 15:10] Dr0bac opened #4148 "Systemd help"
Hi i just installed rclone on raspberry pi 3b running dietpi - debian(buster) with the help of this tutorial:
https://medium.com/@artur.klauser/mounting-google-drive-on-raspberry-pi-f5002c7095c2

and i'm stuck at systemd service creation.

I installed radarr and sonarr programs and they have data directories where database files are accessed or written to every minute or similar, and to protect ra

[2020-04-18 16:01] ferferga commented on #2418
@ncw Came across this the other day. Was this forgotten somehow? Can you make cleanup behave like ``delete``?

[2020-04-18 16:06] SergeyBear commented on #2265
Hi!

Also hit the wall of obscurity today while writing the ansible role to install and configure rclone :-(
I'm templaating rclone.conf file, but because running `rclone obscure` show different output on same password, I cant make the role idempotent, because config is changing every run. Flag `--no-obscure` would be a life saviour.

P.S. Yesterday discovered rclone - it is awsome! Thank you!

[2020-04-18 16:30] SergeyBear commented on #2265
... actually something like `rclone reveal <obscured_pass>` would also help

[2020-04-18 16:40] SergeyBear commented on #2265
OMG just found `reveal` in source!!!
https://github.com/rclone/rclone/blob/master/cmd/reveal/reveal.go
This `rclone reveal` should defenetly land in docs

P.S. Now rclone get two times awsome! :-)

[2020-04-18 17:08] SergeyBear commented on #2265
Well, using `rclone reveal` is kind of a hack for achieving idempotence - dump config, reveal obscured value from dump, obscure value from variable, in rclone.conf set from dump if passwords match or obscured - if doesnt... So my +1 for `--no-obscure` :-(

[2020-04-18 17:53] SergeyBear commented on #2265
IMHO too much butt hurt in automation for a price of protecting a passwords from glimpse behind shoulder

[2020-04-18 18:28] Hescominsoon commented on #3991
There is a 5 gig limit on b2 copy operations:
https://www.backblaze.com/b2/docs/b2_copy_part.html

[2020-04-18 19:04] Hescominsoon commented on #4037
https://jira.ixsystems.com/browse/NAS-105156

[2020-04-18 19:05] Hescominsoon commented on #3991
https://jira.ixsystems.com/browse/NAS-105156

[2020-04-18 21:37] SL-Gundam commented on #3921
I'm having the same issue: https://github.com/rclone/rclone/issues/3836#issuecomment-583006595

Tried --drive-encoding Slash,InvalidUtf8

But "aaa ／aaa／.mp4" is still uploaded as "aaa ‛／aaa‛／.mp4"

This is also mounted on a NAS system (linux based). The mount does not remove the quote. This would not be an issue if the upload would never add the quote in the first place.

[2020-04-19 00:15] dyaskur commented on #3182
when this will available?

[2020-04-19 01:35] CryFun commented on #4147
rclone copy slowly(about 20kb /s)

rclone v1.45
- os/arch: windows/amd64
- go version: go1.11
OneDrive
rclone copy

Xiaoxing Ye <notifications@github.com> 于2020年4月18日周六 下午8:48写道：

[2020-04-19 02:41] Cnly commented on #4147
Hi @CryFun, what is the complete command you ran, and do you have any log output for that? Without those, it's unlikely we can offer any help on this problem.

[2020-04-19 04:18] CryFun commented on #4147
where is the log?
rclone OneDrive1:/A OneDrive2:/B

Alex Chen <notifications@github.com> 于2020年4月19日周日 上午10:41写道：

[2020-04-19 04:19] CryFun commented on #4147
Where is the log?
rclone copy OneDrive1:/A OneDrive2:/B -P

Alex Chen <notifications@github.com> 于2020年4月19日周日 上午10:41写道：

[2020-04-19 05:40] lonix1 commented on #4114
@dbramwell You can get a free account on box. Their entry-level is a free 10GiB account.

[2020-04-19 06:01] basicfu opened #4149 "rclone use alone proxy"
#### What is your current rclone version (output from `rclone version`)?
rclone v1.51.0
- os/arch: darwin/amd64
- go version: go1.13.7

#### What problem are you are trying to solve?
I have read the proxy document
https://rclone.org/faq/#can-i-use-rclone-with-an-http-proxy
But it will be acting on the global,I hope I can be set separately rclone use the proxy,
eg curl
[code]
rclone can you support

[2020-04-19 08:26] fcaponi commented on #4142
Hi all,
i have verified using the java api that the observed behavior works and it is also documented here:
https://developers.google.com/photos/library/guides/access-media-items#image-base-urls

Now I'll try to understand the go language...

[2020-04-19 09:17] Yexiaoxing commented on #4147
Then please try to run
[code]
and the verbose log will be shown on the console.

And, what kind of network are you using? What about the speed when you are using browser to navigate OneDrive? I am assuming that you are in China, then the speed to OneDrive is slow due to the special situation.

[2020-04-19 10:05] CryFun commented on #4147
2020/04/19 18:03:15 DEBUG : rclone: Version "v1.45" starting with
parameters ["r
clone" "-vv" "copy" "OneDriveUOE:" "OneDriveXKX:" "-P"]
2020/04/19 18:03:15 DEBUG : Using config file from
"C:\\Users\\Administrator\\.c
onfig\\rclone\\rclone.conf"
2020-04-19 18:03:17 DEBUG : ../.....rar: Size and modification time the
same (di
ffer by 0s, within tolerance 1s)
2020-04-19 18:03:17 DEBUG : ../.....rar:

[2020-04-19 10:48] Yexiaoxing commented on #4147
I am not able to see any anomaly in the log, and I don't think there is much rclone can do... Maybe you should consider to use a reliable proxy to visit OneDrive.

BTW, you are using rclone v1.45 which is quite old. You are suggested to use a latest version when it is possible - refer to https://rclone.org/install/ for upgrade.

[2020-04-19 10:52] x0b commented on #4149
In general, the [forum](https://forum.rclone.org/) is a better fit for questions around rclone usage.

You can set environment variables just for a single command using [```env```](https://www.gnu.org/software/coreutils/manual/html_node/env-invocation.html) on Linux, e.g.
**```env http_proxy=http://127.0.0.1:1087```**```rclone copy a:foo b:bar```

On Windows, **```cmd /V /C "set http_proxy=http://

[2020-04-19 10:54] CryFun commented on #4147
Thanks

Xiaoxing Ye <notifications@github.com> 于2020年4月19日周日 下午6:49写道：

[2020-04-19 10:54] ncw commented on #4142
We already add `=d` for photos and `=dv` for videos

https://github.com/rclone/rclone/blob/9d4b3580a58ca9e2695e043931b3b8937c6395c0/backend/googlephotos/googlephotos.go#L891-L898

This is as documented in [the google photos API](https://developers.google.com/photos/library/guides/access-media-items#image-base-urls)

I don't think adding `=d` is a magic bullet unfortunately, for example in [this go

[2020-04-19 10:59] basicfu commented on #4149
Thank you very much, it effective to me

[2020-04-19 10:59] #4149 closed

[2020-04-19 11:01] ncw commented on #3991
Does anyone want to work on this issue? See https://github.com/rclone/rclone/issues/3991#issuecomment-590352732 for hints on what needs to be done :-)

[2020-04-19 11:06] ncw commented on #4037
This should be very easy to implement if you want to have a go.

You'd need to add a config parameter "no_set_modtime" which would make a flag `--b2-no-set-modtime` then you'd need to adjust this function

[code]

[2020-04-19 11:07] ncw commented on #2265
If someone would like to propose a pull request for this I'll take a look :-)

[2020-04-19 11:09] ncw commented on #2418
Nice workaround from @zenjabba . Does anyone want to send in a pull request to implement it the backend method?

https://github.com/rclone/rclone/blob/9d4b3580a58ca9e2695e043931b3b8937c6395c0/backend/drive/drive.go#L2163

[2020-04-19 11:10] ncw commented on #4148
Can you ask this question on [the rclone forum](https://forum.rclone.org/) please? We try to only put bug requests or feature requests on GitHub - thanks :-)

[2020-04-19 11:10] #4148 closed

[2020-04-19 11:40] #3950 closed

[2020-04-19 11:41] ncw commented on #3950
I've merged the `--no-clobber` flag (thank you @kfur ) this to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

[2020-04-19 12:20] Yexiaoxing commented on #4147
Next time you can head to our forum (https://forum.rclone.org/) if you. have problems in the usage of rclone. It should be safe to close this issue.

[2020-04-19 14:08] Nottt commented on #1674
Wow I didn't expect to have such a list of duplicated files...I thought rclone dedupe couldn't let this happen...

So now how I get rid of the duplicates?

[2020-04-19 15:15] Hescominsoon commented on #3991
With freenas 11.3x rclone wont' even start the uploads.  I do have at least 50 5GB+ files which explains why this now fails.  Did Backblaze change something or did rclone change something?

[2020-04-19 15:34] Hescominsoon commented on #4037
I hop multi-part is implemented instead of having to wholesale re-upload...of course B2 implementations could preclude this? I know Arq puts everything into small chunks and uploads those.  I wonder if rclone could do something similar ?  Then this file limit at b2 might be a non-issue?

[2020-04-19 16:24] fcaponi commented on #4142
Indeed, looking better, the image urls used by google photo web site and the one returned by the api are different:
the first one is something like https://lh3.googleusercontent.com/{a big id}=d
while the api returns something like https://lh3.googleusercontent.com/lr/{another big id}=d

I suppose that the context path lr means low resolution or similar

[2020-04-19 17:36] animosity22 commented on #4147
Please use the forums for issues like this.

[2020-04-19 17:36] #4147 closed

[2020-04-19 17:37] animosity22 commented on #4137
Majority of the defaults are the best effort to size things for most uses.

I think it's a great idea, just not sure how it works in implementation as it's a very complex scenario even for a single backend.

Perhaps someone can pick it up though :)

[2020-04-19 17:38] animosity22 commented on #4136
For troubleshooting performance type things, please use https://forums.rclone.org rather than raising an issue.

Thanks!

[2020-04-19 17:38] #4136 closed

[2020-04-19 17:41] animosity22 commented on #4126
If it's locking up, I agree with @Zirro and post/try to get some help from the fuse side as a start. I rarely run mounts on my Mac as I just move a file here/there as I use Linux for majority of my mount work.

[2020-04-19 17:44] animosity22 commented on #4128
1.48 is a pretty old version. If you upgrade and still have issues, please ask for help on https://forums.rclone.org

Thanks!

[2020-04-19 17:44] #4128 closed

[2020-04-19 17:46] animosity22 commented on #4120
You can send a link or a message on https://forums.rclone.org

Same username  :)

[2020-04-19 17:47] animosity22 commented on #4115
This looks to be answered. If you have a use question, you can always ask on https://forums.rclone.org

Thanks!

[2020-04-19 17:47] #4115 closed

[2020-04-19 17:48] animosity22 commented on #4111
Anything else needed on this one or can it be closed out?

[2020-04-19 17:49] animosity22 commented on #4103
This looks to be answered so closing out.

[2020-04-19 17:49] #4103 closed

[2020-04-19 17:50] animosity22 commented on #4140
Missing the most important part:

#### A log from the command with the `-vv` flag (eg output from `rclone -vv copy /tmp remote:tmp`)

[2020-04-19 17:51] animosity22 commented on #4100
Linked issue was solved so closing out.

[2020-04-19 17:51] animosity22 commented on #4095
Since there are no updates, I'm closing this out.

If you still have a question, please raise it on https://forums.rclone.org

[2020-04-19 17:51] #4095 closed

[2020-04-19 17:52] animosity22 commented on #4093
Closing out as the linked issue was solved and no updates here.

[2020-04-19 17:53] animosity22 commented on #4064
Since there has been no activity, I'm closing out.

If you still have a use question, please ask on https://forums.rclone.org and we're happy to help out.

[2020-04-19 17:53] #4064 closed

[2020-04-19 17:54] animosity22 commented on #4074
Something still needed here or can this be closed out?

[2020-04-19 18:00] kolt54321 commented on #3622
@animosity22 Can you clarify what you mean by this thread was solved ("the linked issue was solved")? I do not see an rclone update that patches this issue.

[2020-04-19 18:01] kolt54321 commented on #4093
How so? I don't see a solution.

[2020-04-19 18:17] naeloob commented on #4074
I will love to see this implemented in rclone, and i think it will be usefull for anyone, but it's not on my hands to implement it.

If there's any chance to be implemented in the future i wouldn't close.
But if there's no chance to get it you can close it.

[2020-04-19 19:13] heikobornholdt commented on #4100
Issue isn‘t resolved. We‘re waiting for an action from the maintainer (https://github.com/jlaffaye/ftp/pull/156#issuecomment-608085129). Please reopen.

[2020-04-19 20:29] RemiTorracinta commented on #4111
one thing, shouldn't disabling the VFS cache fix this then? I still see an issue even when it's turned off.

[2020-04-19 21:08] SergeyBear commented on #2265
I would like to help with the code, but I am not at all familiar with Go :-( I am more Ops than Dev.

[2020-04-19 21:51] mainkai opened #4150 "gdrive mount: folder not shown if file with same name exists"
When mounting a crypt remote, rclone seems to get confused when there are a file as well as a subfolder with the same name within the same folder.
When I create a folder `test123 `in a mounted crypt, and then copy a file `test123 `to the same place, the folder seems to disappear. dir of the mounted drive (Windows):
[code]
Not shown here, but it is the same on Ubuntu.

`rclone lsf` will see both, f

[2020-04-20 00:23] animosity22 commented on #4093
I misread it. Opened it back up.

[2020-04-20 00:23] animosity22 commented on #4074
All good. I can tag it as an enhancement and leave it open.

[2020-04-20 00:25] animosity22 commented on #4100
The issue on the other side is stale/closed so not much can be done until that's resolved and it's closed out. If something fixes it, we can always open it back up.

[2020-04-20 01:29] Sunil-P commented on #3957
Starting implementation of this.

[2020-04-20 07:05] dojo90 commented on #4140
Ah now I know what's the problem. If the folder `subdir1` or `subdir2` is empty, it is not created remotely. Only if there are any files present inside of `subdir1` or `subdir2`. Is this behavior desired or would it be possible to copy empty folders as well?

**empty subdirs**

[code]

**subdir contains files**

[code]

[2020-04-20 09:30] dbramwell commented on #4114
Ah Thanks. Think I was looking at "Admin Console" rather than "Dev Console". Interestingly now that I've created an app in the dev console I can also get into the admin console...

Anyway, I'll have a go at this at some point this week

[2020-04-20 11:35] animosity22 commented on #4140
You can use:

[code]

If that is what you want.

[2020-04-20 11:58] ltGuillaume commented on #3588
When looking at this, it seems that this also won't work for local syncs/backups. It would be really nice to see this working at least when RClone is used in that way...

[2020-04-20 14:02] mainkai commented on #4150
Just noticed that this is not related to the encryption, it also happens on non-encrypted mounts.

[2020-04-20 14:09] animosity22 commented on #4150
Can please include a debug log as that's part of the issue template.

[2020-04-20 14:29] mainkai commented on #4150
`rclone -vv mount gcrypt:other L:`

this happens when copying folder `test123` into directory `L:\test`:

[code]

this happens when copying file `test123` into the same directory:
[code]

However, I now noticed that on Windows as well as on Ubuntu its not even possible to have a file and a folder with the same name in the same directory (on Google Drive, it is possible).
So maybe this is just the

[2020-04-20 14:36] animosity22 commented on #4150
Google Drive allows duplicates, which is a bit annoying.

In general on Linux/Unix,  you can't have a directory name and file name the same.

I have no idea on how that works in Windows.

In Linux/Unix if you try to copy a file name that's the same as a directory, it would place the file in the directory.

I was trying to see based on the logs if Windows did the same thing.

[2020-04-20 15:20] darthShadow opened #4152 "Change Notifications for Local Filesystems"
#### What is your current rclone version (output from `rclone version`)?

N/A

#### What problem are you are trying to solve?

Change Notifications for Local Filesystem Mounts

#### How do you think rclone should be changed to solve that?

Add [fsnotify](https://github.com/fsnotify/fsnotify) integration to support change events from Local Filesystems

There does exist a similar issue: https://gith

[2020-04-20 15:44] darthShadow commented on #4152
A couple of caveats with the above integration:

* fsnotify doesn't have in-built support for recursive watches until issues [18](https://github.com/fsnotify/fsnotify/issues/18) & [41](https://github.com/fsnotify/fsnotify/issues/41) are resolved.
    - A workaround would be to do it manually, as implemented in [rfsnotify](https://github.com/farmergreg/rfsnotify/blob/master/rfsnotify.go)
* There ar

[2020-04-20 19:24] ltGuillaume commented on #1202
When looking at this, it seems that this also won't work for local syncs/backups. It would be really nice to see this working at least when RClone is used in that way...

[2020-04-20 21:19] lonix1 commented on #4114
The thing I don't like about box's dev workflow: all files are uploaded to the dev console and can only be accessed there. So you can't see them in the normal console (was very confusing at first).

So if you upload files and don't understand why they don't show, it's because they're in the dev console.

[2020-04-20 22:24] Hescominsoon commented on #4037
instead of re uploading i think you could use their large files clals in their api?
https://www.backblaze.com/b2/docs/large_files.html

[2020-04-21 02:42] Archerious commented on #678
Will do, as the issue is back :(.

[2020-04-21 02:47] Archerious opened #4153 "SHA1 mismatch when copying large files (B2)"
#### What is the problem you are having with rclone?

SHA1 mismatch when copying large files (B2)

#### What is your rclone version (output from `rclone version`)

_v1.36_ v1.5.1 now just updated and re-running the command

#### Which OS you are using and how many bits (eg Windows 7, 64 bit)

Ubuntu 18.04.4 LTS

####  Which cloud storage system are you using? (eg Google Drive)

Backblaze B2

####

[2020-04-21 04:30] gcp5678 commented on #2964
strconv.ParseInt: parsing "NaN": invalid syntax

[2020-04-21 04:32] gcp5678 commented on #2964
win10 rclone v1.51.0, I have this problem.

[2020-04-21 05:04] Yexiaoxing commented on #2964
Hi @gcp5678 Could you please open a new issue and provide us more information?

[2020-04-21 06:07] Archerious commented on #4153
Issue resolved by rebooting after upgrading to v1.5.1 from github as Ubuntu's repo has v1.36.

[2020-04-21 06:07] #4153 closed

[2020-04-21 07:36] kushsharma commented on #4055
@ncw looks easy enough to implement, can you elaborate on what outline you have in mind for this?

[2020-04-21 07:37] dojo90 commented on #4140
Exactly I was looking for 🙂👍
Next time I should have a look into the documentation (https://rclone.org/commands/rclone_copy/)

[2020-04-21 07:37] #4140 closed

[2020-04-21 09:00] guss77 commented on #1710
S3 (which is what I use rclone with - the protocol if not the service) supports ["User Metadata"](https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html) which maps really well from xattr.

[2020-04-21 19:43] garrit-schroeder opened #4154 "How do I find out how much I have uploaded on a mount today?"
#### What is your current rclone version (output from `rclone version`)?
rclone v1.51.0

#### What problem are you are trying to solve?
Some Remotes enforce an upload limit and I would like to "ask" my mounts how much they have uploaded today and then stop the sync process of my uploads.

#### How do you think rclone should be changed to solve that?
Some king of command thats prints a json so i ca

[2020-04-22 05:52] darthShadow commented on #4154
https://rclone.org/rc/#core/stats

[2020-04-22 10:34] #2809 closed

[2020-04-22 10:37] ncw commented on #2809
I've merged this fix to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

This will be the first beta with the fix in

https://beta.rclone.org/v1.51.0-191-gd22e6f5a-beta/ (uploaded in 15-30 mins)

No there are still cases where it is needed, for instance copying direct from OneDrive to jottacloud - onedrive doesn't support MD5 hash

[2020-04-22 11:05] V33m commented on #2809
Glad to hear that! I've been using `rclone v1.51.0-154-ga283c655-fix-crypt-src-hash-beta` on several devices without any issues. Will transform over to https://beta.rclone.org/v1.51.0-191-gd22e6f5a-beta/  to help with testing to ensure it's stable enough for v.1.52 👍

[2020-04-22 15:45] ncw commented on #4154
Great answer from @darthShadow - I'm going to close this now. Questions are preferred on [the rclone forum](https://forum.rclone.org/) - thanks!

[2020-04-22 15:45] #4154 closed

[2020-04-22 15:56] ncw commented on #4091
I've merged @dbramwell 's fix to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

@abrar-hnxlabs and @davidhewitt  can you check it works for you? Thanks

[2020-04-22 15:56] #4091 closed

[2020-04-22 16:00] ncw commented on #3422
I've merged @Sunil-P 's fix to master now which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

[2020-04-22 16:00] #3422 closed

[2020-04-22 19:15] tbenst opened #4156 "Sharepoint generates invalid bearer token"
#### What is the problem you are having with rclone?
My onedrive for business account authenticates through my university using two-factor authentication. As such, simply using username/password does not work. I presume I need a bearer token, but it appears that the bearer token needed is specific to the particular "shared with me" folder.

See https://github.com/rclone/rclone/issues/2536#issuecom

[2020-04-22 19:28] davidhewitt commented on #4091
🎉 many thanks! Not sure I'll get another swipe at this soon, but when I do I'll let you know if I have any trouble.

[2020-04-22 19:30] abrar-hnxlabs commented on #4091
@ncw  , @dbramwell  thanks  and really appreciate the quick fix and turn around on this issue

[2020-04-22 23:00] benz2012 commented on #3990
I saw this issue this morning. `--tpslimit 16` works well as a solution, but I did notice a significant slow down in the speed at which rclone checked files.

I don't see any documentation to support that limit, but they discuss using an exponential backoff at the bottom of this page: https://www.backblaze.com/b2/docs/uploading.html

I can't seem to reproduce the issue now. I thought it was relate

[2020-04-23 01:54] Sunil-P commented on #4152
I think this is [relevant](https://krypted.com/mac-os-x/maximum-files-in-mac-os-x/) for Mac.

[2020-04-23 02:41] alexisnoria commented on #3937
I had the same problem, so, I uninstalled 1.51 and install 1.45.
GCP with debian 9.

[2020-04-23 05:28] 99ACA commented on #3776
Hi,
I am working with docker image **rclone/rclone:1.51.0**, copy file from local into AWS SFTP.
Getting the same problem.

Error message:
f1/example.file-5: Failed to copy: Update SetModTime failed: SetModTime failed: sftp: "SETSTAT unsupported" (SSH_FX_OP_UNSUPPORTED)

P.S - RClone is an amazing.

[2020-04-23 07:41] darthShadow commented on #3937
@alexisnoria You don't need to go that far back. 1.50.2 is the just previous release and doesn't have the changes that caused this issue

[2020-04-23 10:08] ncw commented on #59
I've merged this to master now - thank you very much @tgallant  for implementing it -  which means it will be in [the latest beta](https://beta.rclone.org) in 15-30 mins and released in v1.52

See the top for the list of supported and unsupported backends.

[2020-04-23 11:34] valeriob commented on #4120
So i was able to make it work by adding the --ignore-size parameter, i had problems with many files, not only documents, also video and images.
Is it safe to add this parameter ?

[2020-04-23 12:48] animosity22 commented on #4156
Are you using Sharepoint or Onedrive as the title says Sharepoint but your text says Onedrive.

[2020-04-23 15:08] ncw commented on #59
I have also implemented the `--header` flag which affects all transactions on all backends.

[2020-04-23 17:21] tbenst commented on #4156
@animosity22: Shared folders on "OneDrive for Business" are a Sharepoint (see discussion in thread I linked to). It's not possible to add them to your drive.

The documentation also discusses this for a slightly different case of using [sharepoint to access your own OneDrive files](https://github.com/rclone/rclone/blob/41ed33b08e148084dd66f5ce1a147d5a049c37e7/docs/content/webdav.md#sharepoint). I

[2020-04-23 17:29] animosity22 commented on #4156
See this issue for a work around:

https://github.com/rclone/rclone/issues/2536

[2020-04-23 18:59] Hescominsoon commented on #4037
actulaly it would be better to use the large files part of the api i think?

https://www.backblaze.com/b2/docs/large_files.html